[2014-04-23 17:17] cmungall opened #1 "Consistency in URI abbreviation is graph queries"
Example:

http://beta.neuinfo.org/graphdemo/graph/path/simple/UBERON_0002398/UBERON_0002102.json?length=3&callback=fn

 * Classes have full URIs
 * Predicates have fragments

It would be better to be consistent. Otherwise include a context

    '@' : { "@base": "http://purl.obolibrary.org/obo/" }

[2014-04-23 18:21] cmungall opened #2 "graph/path - Order results by shortest paths"
Example:

http://beta.neuinfo.org/graphdemo/graph/path/simple/UBERON_0002398/UBERON_0002101.json?length=3&callback=fn

The two-step over part_of and subClassOf should be shown first.

TBD: should each topology graph object also indicate the length of the path? This may make it easier for clients (e.g. to filter by path length on the client side). In future we will also want to score paths, so the

[2014-04-25 18:29] ccondit opened #3 "Add generic wrapper for REST responses"
Add a response envelope to return metadata and errors to the client (especially JSONP).

[2014-04-26 01:18] cmungall opened #4 "Adding metadata to nodes in returned json objects"
It would be useful to have additional metadata on each node. The bbop tpology graph format here is quite open ended (@kltm check if this is correct):

[code]

Does this map well to the Neo4j model (with the meta object corresponding to node attributes in neo4j)? It would make things simplest to keep things aligned.

The key-val pairs would come originally from annotation assertion axioms in the on

[2014-05-01 22:56] cmungall opened #5 "Exporting graph data"
Many bioinformaticians require entire dumps (rather than REST queries that return N results at a time).

In some ways this isn't SciGraph's concern as currently the data comes from a uniform set of RDF/OWL, anyone can take this at source.

But it may still be useful to get custom dumps based on some criteria. It would be good to think about this upfront.

[2014-05-10 01:24] cmungall opened #6 "Filtering reified association nodes from path queries"
Example. Start here: http://tartini.crbs.ucsd.edu/labs/cy-explore-demo
Type "SHH" and choose concentric

Amongst the links will be gene-gene interactions.

We model these using the pattern

[code]

i.e. rdf-style reification (but not actual rdf reification - we may want a different vocabulary)

When thinking in graph-oriented terms the reified node should really be hidden. Not clear where this sho

[2014-05-10 01:25] cmungall opened #7 "gene false positives in annotate service"
Example:

http://kato.crbs.ucsd.edu:9000/scigraph/annotations/entities.json?content=I+found+it&minLength=3&longestOnly=true&includeAbbrev=false&includeAcronym=false&includeNumbers=false&callback=fn

Not unexpected, hard problem. Maybe some categories should be set such that exact matches are required? TBD further

[2014-05-12 21:15] cmungall opened #8 "Allow gremlin queries"
We probably want to discourage direct cypher queries as this introduces a dependency on neo4j

gremlin looks like a good alternative. very powerful and works with any graph database witha tinkerpops/rexster connector.

There are examples online of simple gremlin queries for implementing recommendation systems, etc. Could be very useful.

[2014-05-13 22:06] cmungall opened #9 "Change header in docs"
http://kato.crbs.ucsd.edu:9000/scigraph/docs/

says "NIF WebServices", and is hyperlinked to neuinfo.org

This is fine as a default for now but as we publicize we need to indicate that this is a joint project (and certainly not limited to neuroscience).

How about just "SciGraph web services", and clicking the link takes you: https://github.com/SciCrunch/SciGraph

?

[2014-05-13 22:42] #9 closed, assigned to ccondit

[2014-05-14 03:11] cmungall opened #10 "/descendants/ query is confusing"
If I query with relationship=part_of id=cerebellum, ie

http://kato.crbs.ucsd.edu:9000/scigraph/graph/descendants/BFO_0000050/UBERON_0002037?depth=1&callback=fn

I get metencephalon and hindbrain

These would typically be considered ancestors, not descendants, because
- cerebellum SubClassOf part_of some metencephalon

Extending the depth takes me to 'nervous system'

[2014-05-14 20:03] cmungall opened #11 "Edge properties should distinguish relationship type from axiom type"
This isn't being implemented quite right:
https://github.com/SciCrunch/SciGraph/wiki/MappingToOWL

In OWL, we have axioms of the form

[code]

We should map these to edges between S and O

The edge _type_ should be P in all cases.

However, the edge should have another piece of metadata, about the axiom type. i.e. AnnotationAssertion, ObjectPropertyAssertion, ...

Currently the type infortmation i

[2014-05-14 22:15] nlwashington opened #12 "allow relationships to be ids/types"
i notice that relationship queries are of the type "string" and are specified in queries as a label.  will this be expanded to allow use of identified relationships from RO here, with their own hierarchy?  http://code.google.com/p/obo-relations/

[2014-05-14 22:27] nlwashington opened #13 "get all paths that contain a specified node (X...Z...Y)"
i'd like to specify a query between two items of any path length, that pass through a particular node.

for example.  i'd like to ask...   what are the paths between geneX and geneY that contain geneZ.

furthermore, i'd really like to be able to specify the valid paths that can be followed (by relationship types).

[2014-05-14 22:37] nlwashington opened #14 "add filter on relationship for graph neighbors"
allow specifying edge types (relationships) for graph neighbor exploration, similar to that for descendants.

[2014-05-14 22:50] nlwashington opened #15 "PMIDs in scigraph"
i tried searching for entries with PMID, but have been unable to find them.

i believe that i've submitted this curie to add to the yaml file.

here's some examples i would expect to find by searching the graph...i can see these ids buried within anonymous nodes when i explore (SHH), but i can't query for these ids directly.
PMID_8896752
PMID_15103725

[2014-05-14 22:55] nlwashington opened #16 "nodes with split personalities - genes, diseases, publications?"
for a source like omim (and some others), the same identifier is used to convey different things.  omim itself sometimes uses the same identifier to indicate a gene/genetic locus, other times it also means a disease.   furthermore, consumers of omim also refer to the same identifier to mean it as a source of information/publication (as the hpo team does in their citation field).

therefore, the sa

[2014-05-14 23:17] nlwashington opened #17 "paths between node (id) and node (type)"
i want to be able to say,

show me all the paths (or shortest or whatever) between my identified node (say NCBIGene_6469), and any other node that is_a gene.

[2014-05-15 01:07] ccondit opened #18 "Add SciGraph services"
Migrate to a multi-module Maven project and add the current SciGraph REST services as a separate Maven module. This will keep the SciGraph functionality self contained (and keep the core component available as a dependency for other API clients).

From a comment by @cmungall in #9

[2014-05-15 01:42] #18 closed, assigned to ccondit

[2014-05-21 00:43] jgrethe opened #19 "Text annotation includes stop words"
The text annotation returns spans with stop words (which shouldn't be included):

http://matrix.neuinfo.org:9000/scigraph/annotations/complete?content=female+in+cerebellum+of+cells&minLength=4&longestOnly=true&includeAbbrev=false&includeAcronym=false&includeNumbers=false&callback=fn

<annotations>
<entities>
<entity end="23" start="7"/>
<entity end="23" start="7"/>
</entities>
<content>
female <sp

[2014-05-21 20:32] ccondit opened #20 "Prefer labels when matching or searching for terms"
The following example illustrates the problem:
"Cell" has no synonyms and an eponymous label. Some other class has an arbitrary label but a synonym of "on cell". The latter class may be ranked first since both fields are scored equally even though the label isn't "cell".

Update ranking to boost queries on labels for term match and search.

[2014-05-21 20:36] #20 closed, assigned to ccondit

[2014-05-21 23:51] #19 closed, assigned to ccondit

[2014-05-22 16:50] nlwashington opened #21 "add xref, equiv, and log-defn to vocab service"
When I search for a term, like:
http://kato.crbs.ucsd.edu:9000/scigraph/vocabulary/id/HP:0000458

i would like to see equivalence classes and external references.
in this case, there's an xref to UMLS:C0003126
(or would those be in graph services?)

i would also like to see the logical definition, which should be:
intersection_of: PATO:0001558 ! lacking processual parts
intersection_of: towards GO

[2014-06-11 15:30] aguptasd opened #22 "Missing labels"
Many terms in the Monarch ontology have missing labels (e.g., "phenotype" and many GO terms). So term search fails.

Nicole, can you work with Chris C to populate the label fields of these terms from whatever annotation properties or URI fragments they may be stored in?

[2014-06-11 16:18] aguptasd opened #23 "Adding the right ontologies and data sets"
I have discussed this with both Melissa and Nicole. It would like to construct at least one end-to-end example of a path that traverses like this:
disease > phenotype > related phenotype > gene > related gene > pathway > drug target> drug
Several of these steps can be chains in reality -- some of them can be computationally connected through OWLSim or other means.

What data/ontology do we need to

[2014-07-04 22:45] cmungall opened #24 "annotate: add option to not use lemmatization/stemming"
Example:
http://kato.crbs.ucsd.edu:9000/scigraph/annotations/entities.json?content=sialic+acid

yields uberon:saliva

Presumably based on:
http://en.wiktionary.org/wiki/sialic

But this is really more of an etymological associations, sialic acid isn't restricted to saliva:
http://en.wikipedia.org/wiki/Sialic_acid

[2014-07-07 21:01] #24 closed, assigned to nobody

[2014-07-23 17:51] cmungall opened #27 "ancestors not complete"
We are not seeing 'retina' as an ancestor to 'retina development in camera type' eye with the ontology below.

For a full test, see PathTest.ancestorsTest() in @scigraph-sim

contact for @SpikeHarris further details

[code]

[2014-07-25 19:53] #27 closed, assigned to nobody

[2014-08-01 23:01] cmungall opened #28 "Non-fatal warnings when loading SciGraph"
We see frequent warnings like the one below. @hdietze suspected autoboxing error but that turned out no to be the case.

[code]

[2014-08-05 20:13] ccondit opened #29 "Add relationship specification to load specification"
Add a mapping of IRIs to Neo4j relationships types to the the YAML configuration file. Also include a list of reciprocal relationship mappings.

For Neo4j 2.1.x add a configuration option to apply node labels to classes based on some criteria.

[2014-08-08 00:35] cmungall opened #30 "blank nodes and OWL"
cc @aguptasd

A while ago we specified the mapping from owl to neo4j:

https://github.com/SciCrunch/SciGraph/wiki/MappingToOWL

The way the loader handles SomeValuesFrom (existential restrictions) isn't consistent with this and is causing some issues.

Background: these constructs are very common on bio-ontologies, for partonomies etc

E.g.
- forebrain SubClassOf part_of some brain

In the RDF ren

[2014-08-08 16:31] nlwashington opened #31 "get relationships for graph"
in order to call a function like:
http://kato.crbs.ucsd.edu:9000/scigraph/graph/descendants/SUPERCLASS_OF/MP:0002092?depth=1&callback=fn

this requires knowing what the permitted relationships are.

can you add a service that will report what the valid relationship (edge) types are?

[2014-08-27 18:19] SciCrunch-Synapse opened #32 "Test of tracker workflow"
This Github issue is synchronized with Zendesk,

**Zendesk ticket ID:** [326](https://scicrunch.zendesk.com/agent/#/tickets/326)
**Priority:**
**Zendesk assignee:** Support/A

**Original ticket content:**

Test - please ignore

Trish

[2014-08-27 20:34] SciCrunch-Synapse opened #33 "Test of tracker workflow"
This Github issue is synchronized with Zendesk,

**Zendesk ticket ID:** [326](https://scicrunch.zendesk.com/agent/#/tickets/326)
**Priority:**
**Zendesk assignee:** Support/A

**Original ticket content:**

Test - please ignore

Trish

[2014-08-27 20:44] SciCrunch-Synapse opened #34 "Test of tracker workflow"
This Github issue is synchronized with Zendesk,

**Zendesk ticket ID:** [326](https://scicrunch.zendesk.com/agent/#/tickets/326)
**Priority:**
**Zendesk assignee:** Support/A

**Original ticket content:**

Test - please ignore

Trish

[2014-08-27 20:45] SciCrunch-Synapse opened #35 "Test of tracker workflow"
This Github issue is synchronized with Zendesk,

**Zendesk ticket ID:** [326](https://scicrunch.zendesk.com/agent/#/tickets/326)
**Priority:**
**Zendesk assignee:** Support/A

**Original ticket content:**

Test - please ignore

Trish

[2014-08-29 21:51] #35 closed, assigned to nobody

[2014-08-29 22:30] #34 closed, assigned to nobody

[2014-08-29 22:30] #32 closed, assigned to nobody

[2014-08-29 22:30] #33 closed, assigned to nobody

[2014-08-29 22:41] #22 closed, assigned to nobody

[2014-09-04 00:46] cmungall opened #36 "populate a Solr instance from SciGraph"
Background: we will use SciGraph for graph-oriented or complex queries, especially those involving paths. For fast browsing of data tables we will continue to use Solr or similar denormalized faceted solutions. We will need a way to populate part or all of a Solr index from SciGraph.

To populate datafederation (ie nif) Solr cores, this may be as simple as passing a cypher query through the existi

[2014-09-18 21:52] #31 closed, assigned to ccondit

[2014-09-19 20:04] #21 closed, assigned to ccondit

[2014-09-19 20:39] #29 closed, assigned to nobody

[2014-09-19 21:18] #30 closed, assigned to nobody

[2014-09-19 21:19] #11 closed, assigned to cmungall

[2014-09-23 21:12] kshefchek opened #37 "Genes as categories for vocabulary services"
@ccondit would it be possible to have "gene" listed as a category for genes in scigraph?  The category is currently undefined for genes, for example:
http://geoffrey.crbs.ucsd.edu:9000/scigraph/vocabulary/prefix/DMP1.json

Currently I am using a regex match to determine if a node is a gene.  This may need to be a broader discussion of how we should treat genes in scigraph, @cmungall @nlwashington

[2014-09-30 21:35] #37 closed, assigned to ccondit

[2014-10-07 23:42] cmungall opened #38 "Control whether anon nodes are returned in neighbourhood queries"
Often it's undesirable to include anon nodes in neighbor queries. Can we have the default be not to return them, and an option to override and include them?

[2014-10-08 18:49] #38 closed, assigned to ccondit

[2014-10-08 19:31] kshefchek opened #39 "Variable types for #hasDbXref"
I've noticed that the JSON output from http://geoffrey.crbs.ucsd.edu:9000/scigraph/graph/ has variable structures for the key http://www.geneontology.org/formats/oboInOwl#hasDbXref

For example:
http://geoffrey.crbs.ucsd.edu:9000/scigraph/graph/HP_0003312.json
returns the string "UMLS:C1839326",
http://geoffrey.crbs.ucsd.edu:9000/scigraph/graph/OMIM_127750.json
returns an array

Is this intentiona

[2014-10-10 15:01] kshefchek opened #40 "Returning curies in vocabulary services"
I noticed curies are not always returned in geoffrey, is it possible to retrieve this value when using the vocabulary services?  For example:
http://kato.crbs.ucsd.edu:9000/scigraph/vocabulary/id/DOID:4.json?callback=fn
returns a curie
http://geoffrey.crbs.ucsd.edu:9000/scigraph/vocabulary/id/DOID:4.json?callback=fn
does not

[2014-10-10 22:58] #40 closed, assigned to ccondit

[2014-10-16 17:21] nathandunn opened #41 "unable to handle multiple requests without failing"
On the monarch branch, I moved the front-page to do multiple asynchronous requests at once, one for each tab (8):

https://github.com/monarch-initiative/monarch-app/tree/473-increase_page_load_speed

e.g.,
http://localhost:8080/disease/OMIM_127750

The problem is that I am getting 500 errors for arbitrary requests to the server (both dev and production), so sometimes different tabs don't show up.

[2014-10-17 23:31] #41 closed, assigned to ccondit

[2014-10-31 22:33] cmungall opened #42 "Add direct inferred edges as part of loading SciGraph"
When loading SciGraph from an ontology import chain, we should fill in missing edges in the graph (and remove any redundancies that arise from this).

I will first add a test case that demonstrates the desired behavior.

TBD: do we force the import chain to be coherent (ie no unsatisfiable classes) prior to loading? The presence of unsatisfiable classes creates false edges.

[2014-11-05 15:14] ccondit opened #43 "Allow batch updates to an existing graph"
Allow batch updates to existing SciGraph instances.
- The graph will be offline during the update
- The ID map will be stored in an on-disk structure for reuse between loads

[2014-11-06 16:22] #43 closed, assigned to ccondit

[2014-11-06 18:14] cmungall opened #44 "IllegalThreadStateException when loading pizza"
Following instructions in the README, I mvn compile then run the following from core:

[code]

Output:

[code]

[2014-11-06 21:13] #44 closed, assigned to ccondit

[2014-11-13 13:46] jhashemi opened #45 "feature request:scicrunch as a neo4j plugin"
Currently our data is stored in neo4j. Would love to use your solution as our ontology store, except for the fact that I dont want to run a second instance of neo4j across our cluster.

[2014-11-17 23:02] #14 closed, assigned to ccondit

[2014-11-17 23:03] #10 closed, assigned to ccondit

[2014-11-17 23:11] #12 closed, assigned to ccondit

[2014-11-27 01:15] cmungall opened #46 "SciDump: Create a JSON dumping framework that can be used for Solr loading"
## Overview and Requirements

We need a means of generating custom JSON exports of portions of a
SciGraph database. The primary use case here is as a mechanism for
providing Solr views (or Elastic Search?) over SG data, but the
feature could also have other uses.

Formally, this is the same as extraction of a subgraph, followed by an
optional transformation step that performs any necessary flatten

[2014-12-10 22:08] ccondit opened #47 "Support open refine with SciGraph"
https://github.com/OpenRefine/OpenRefine/wiki/Reconciliation-Service-Api

Previous implementation notes:
JSON service for Google Refine
Signature:
* ./reconcile?query=...string...[&{optional_args}]
* ./reconcile?query={...single json object literal...}[&{optional_args}]
* ./reconcile?query={...multiple json object literal...}[&{optional_args}]

The single JSON object literal has a few fields: quer

[2014-12-15 21:48] #28 closed, assigned to ccondit

[2014-12-23 00:04] twhetzel opened #48 "Create YAML file for term Category configuration"
Creating to link to Jira Issue: https://support.crbs.ucsd.edu/browse/NIF-13553

[2014-12-23 01:10] twhetzel opened #49 "Add/Check that SciGraph web services are in Jenkins tests"
Creating to link to Jira issue: https://support.crbs.ucsd.edu/browse/NIF-13547

[2014-12-23 04:36] twhetzel opened #50 "Need to provide CURIE list for NIFSTD"
The web service call getCuriePrefixes returns an empty list:
http://matrix.neuinfo.org:9000/scigraph/vocabulary/prefixes?callback=fn
http://matrix.neuinfo.org:9000/scigraph/docs/#!/vocabulary/getCuriePrefixes

[2014-12-23 04:41] twhetzel opened #51 "findByPrefix needs to sort results then limit"
The findByPrefix call[1] does not return the concept kidney when using:
http://matrix.neuinfo.org:9000/scigraph/vocabulary/autocomplete/kidney?limit=20&searchSynonyms=true
Based on discussion at the architecture meeting it seemed that the issue was that the results needed to be sorted first and then limited since when the limit is set to 100 the concept is returned.

[1] http://matrix.neuinfo.org:

[2014-12-23 06:04] twhetzel opened #52 "Modify documentation for searchByTerm"
The docs say "Fragments of labels are matched", labels seems to refer to the entire value of a concept label so maybe change to "individual tokens within a multi-token label are matched". Reading "fragment" I thought "rain" would match brain.
http://matrix.neuinfo.org:9000/scigraph/docs/#!/vocabulary/searchByTerm

[2014-12-23 06:16] twhetzel opened #53 "suggestFromTerm"
There seem to be some differences in the SciGraph call suggestFromTerm[1] vs. the OQ call[2]

- the '+' sign behaves differently in SciGraph, glial+c with limit=10 returns glial cell and glial scar, while the OQ call returns glial and all terms with glial and a second token starting with 'c'. Is that change intended?
- can the suggestions be limited to a subtree and category as with the OQ call?

[2014-12-24 00:10] cmungall opened #54 "Fetch subgraph based on descendant query"
Scenario: we would like to visualize areas of SciGraph, such as all
the disease nodes of a certain subtype, and all the phenotypes they
give rise to. For example, for a query of Parkinson's Disease, we
would see a node for each subtype in OMIM, plus their
phenotypes. Currently we view this as a table, but this makes it hard
to see shared phenotypes and relationships between phenotypes.

E.g phenot

[2015-01-05 16:59] ccondit commented on #50
The list is empty because NIF hasn't defined any CURIE prefixes (probably because NIF hasn't ever used CURIES). This can be configured by adding appropriate mappings to the application configuration.

[2015-01-05 17:12] twhetzel commented on #50
The prefixes were specified and a request to re-load NIFSTD was sent before the break. Let's leave this item open until we can confirm this web service is returning the correct content after re-loading NIFSTD.

[2015-01-05 17:15] ccondit commented on #50
Wait - there are two separate issues here. One is the categories and one is the CURIEs. Which is this ticket about?

[2015-01-05 17:16] ccondit commented on #48
Reloaded

[2015-01-05 17:36] #52 closed

[2015-01-05 17:55] twhetzel commented on #50
Sorry, this ticket is for the "getCuriePrefixes" call. Is this a different mapping/configuration file than what is needed for "getCategories"? If yes, can you point me to details of what is needed for the "getCuriePrefixes" call?

[2015-01-05 17:57] ccondit commented on #50
Yes - the CURIEs are separate from the categories. Monarch's CURIE configuration looks something like this:

    curies:
      http://purl.obolibrary.org/obo/DOID_ : DOID
      http://purl.obolibrary.org/obo/ORPHANET_ : ORPHANET
      ...

[2015-01-05 21:28] ccondit commented on #48
That's because that IRI (http://purl.obolibrary.org/obo/WBbt_0007833) doesn't appear in the import chain. Should it?

[2015-01-06 01:15] twhetzel commented on #48
No, it is not in the import chain. I originally thought that all the terms in the list to use for the yaml file were already confirmed to be in the import chain. Seems best to wait for Maryann to provide the list of categories to use for NIFSTD and move forward from there.

[2015-01-06 01:15] ccondit commented on #47
This is implemented and deployed on matrix and geoffrey.

[2015-01-06 01:15] #47 closed

[2015-01-06 01:27] cmungall opened #55 "neighbors and subgraph queries"
## Preliminaries

bbop-js provides a simple json format for representing graphs (akin to gml etc). See [graphs](https://github.com/kltm/bbop-js/wiki/Graph) for details, or contact @kltm.

Within the same format there are two flavours:

 1. [TopologyGraph](https://github.com/kltm/bbop-js/wiki/TopologyGraph)
 2. [TransitivityGraph](https://github.com/kltm/bbop-js/wiki/TransitivityGraph)

Briefly:

a

[2015-01-06 05:24] cmungall commented on #55
Use the ontology lattice.owl for testing

This is the intersection of two trees, A and B,

A=
[code]
B parallels A

We also include the cross-product of A x B, thus every class in the cross-product has two inferred parents in the cross-product.

[2015-01-06 19:21] ccondit commented on #51
How do you want these to be sorted - just alphabetically?

[2015-01-06 19:34] twhetzel commented on #51
Sorting alphabetically seems fine. Is that how the autocomplete service currently works from Ontoquest?

[2015-01-06 20:57] #51 closed

[2015-01-06 23:57] ccondit commented on #53
* http://matrix.neuinfo.org:9000/scigraph/vocabulary/autocomplete/glial%20c?limit=20&searchSynonyms=true is the corresponding SciGraph call. The suggestion resource is for misspelled terms like http://matrix.neuinfo.org:9000/scigraph/vocabulary/suggestions/hippocrampus?limit=1
* The autocompletion API can be limited by category: http://matrix.neuinfo.org:9000/scigraph/docs/#!/vocabulary/findByPref

[2015-01-06 23:57] #53 closed

[2015-01-07 20:08] ccondit commented on #55
I do like the simplicity of `/graph/neighbors/HPO_1`. Should we change this to `graph/neighbors?id=HPO_1&id=HPO_2`?

Why are descendants needed? It seems like a cleaner design to stick to a single direction. Or have the client make two calls.

I think this should default to all relationships allowing the client to inspect them if necessary. And do the relations all need to have a direction specifi

[2015-01-07 20:29] cmungall commented on #55
On 7 Jan 2015, at 12:08, Chris Condit wrote:

How about

/graph/neighbors/HPO_1+HPO+2

For the visualization use case, it's frequently convenient to see one
level down. Making two calls may have separate semantic, as the
TopologyGraph includes all edges between nodes in the two sets. With two
calls you end up omitting edges X->[R]->Y where X is in the ancestor set
and Y is in the child set.

It se

[2015-01-07 21:02] harryhoch commented on #55
Chris:

that all sounds completely reasonable to me.

-harry

On Jan 7, 2015, at 3:29 PM, Chris Mungall <notifications@github.com<mailto:notifications@github.com>> wrote:

On 7 Jan 2015, at 12:08, Chris Condit wrote:

How about

/graph/neighbors/HPO_1+HPO+2

For the visualization use case, it's frequently convenient to see one
level down. Making two calls may have separate semantic, as the
Topolog

[2015-01-07 22:08] twhetzel commented on #50
Refer to Jira NIF-9399 for discussion about SOLR and format using commas.

[2015-01-07 22:10] ccondit commented on #50
How is NIF-9399 related to this ticket?

[2015-01-07 22:26] twhetzel commented on #48
I'll email the file since I can't attach a .yaml file, but here are the categories:
curies:
  http://purl.obolibrary.org/obo/OBI_0100026 : organism
  http://purl.obolibrary.org/obo/DOID_4 : disease
  http://purl.obolibrary.org/obo/UBERON_0001062 : anatomical entity
  http://purl.obolibrary.org/obo/CHEBI_23367 : molecular entity
  http://purl.obolibrary.org/obo/chebi.owl#CHEBI_23367 : molecular ent

[2015-01-08 03:18] twhetzel commented on #48
Other cell terms displayed in Protege looked deprecated. Here is "cell" from NIF-Cell:
http://ontology.neuinfo.org/NIF/BiomaterialEntities/NIF-Cell.owl#sao1813327414

[2015-01-08 06:52] cmungall commented on #48
CL:0000000 ! cell
which is declared equivalent to
 GO:0005623 ! cell
which is declared equivalent to
  NIFSTD:sao1813327414

The CL one may eventually be obsoleted and replaced_by the GO one. I think the SAO one should be gone from the import chain, as it';s replaced the the CC subset of GO

In the interim, I believe SG will make use of equivalence axioms in finding category

TL;DR - use the GO on

[2015-01-08 20:49] twhetzel opened #56 "findByPrefix is failing for some terms"
The "findByPrefix" call [1] used for the autocomplete is failing for the term meniscus [2], but works for brain [3]. Results are returned for meniscus from the "searchByTerm" call [4].

[1] http://matrix.neuinfo.org:9000/scigraph/docs/#!/vocabulary/findByPrefix
[2] http://matrix.neuinfo.org:9000/scigraph/vocabulary/autocomplete/meniscus?limit=20&searchSynonyms=true
[3] http://matrix.neuinfo.org:90

[2015-01-08 21:45] #56 closed

[2015-01-09 19:50] twhetzel opened #57 "findByURI call is returning a 500 error"
The "findByURI" call [1] is returning a 500 error, e.g. call
http://matrix.neuinfo.org:9000/scigraph/vocabulary/uri/http:%2F%2Fpurl.obolibrary.org%2Fobo%2FPR_000006763

[1] http://matrix.neuinfo.org:9000/scigraph/docs/#!/vocabulary/findByUri

[2015-01-09 20:17] twhetzel opened #58 "SciGraph vocabulary services are not working"
I'm getting a response of "no content" from these calls:
http://matrix.neuinfo.org:9000/scigraph/vocabulary/autocomplete/brain?limit=20&searchSynonyms=true
http://matrix.neuinfo.org:9000/scigraph/vocabulary/id/PR_000006763

[2015-01-09 20:29] twhetzel commented on #58
The service calls are working again.

[2015-01-09 20:29] #58 closed

[2015-01-09 21:58] #57 closed

[2015-01-11 17:47] twhetzel commented on #50
I believe Chris M. mentioned ticket NIF-9399 in relation to this one.

[2015-01-11 17:54] twhetzel opened #59 "Filter deprecated classes from the findByPrefix call"
The findByPrefix call [1] returns classes that are deprecated. To be consistent with the autocomplete behavior on neuinfo.org, classes that are deprecated should not be displayed as options in the autocomplete.  E.g. the deprecated classes metastasis to the kidney and polycystic kidney disease (DOID_5898) are returned by the autocomplete scigraph service.

[1] http://matrix.neuinfo.org:9000/scigra

[2015-01-11 19:54] nlwashington commented on #59
Hopefully deprecated classes can still be available as an option.
On Jan 11, 2015 9:54 AM, "Trish Whetzel" <notifications@github.com> wrote:

[2015-01-11 20:16] twhetzel commented on #59
@nlwashington does Monarch have a requirement that deprecated classes should be available from the autocomplete?

[2015-01-11 20:28] cmungall commented on #50
Not this one. NIF-9399 is about how lists are modeled in the federation solr views, which may have an impact on how closure indexing is done for views such as the one mentioned on the arch call, I think the resources view.

[2015-01-12 22:27] nlwashington opened #60 "graph diffs"
we need to compute some graph diff operations for a couple of reasons:
1.  find out what has changed on a graph-wide basis
2.  store just the diff between iterations.  for example, given the assumption that we load the same data sources each month, we don't necessarily want to store the full graphs when it might take unnecessarily large space.  We should be able to store the diff between monthly d

[2015-01-13 23:48] #59 closed

[2015-01-21 17:52] twhetzel opened #61 "vocabulary/id call failing for some terms"
The vocabulary/id call is failing for some IDs:
http://matrix.neuinfo.org:9000/scigraph/vocabulary/id/sao1791490892
http://matrix.neuinfo.org:9000/scigraph/vocabulary/id/PR_000000423
http://matrix.neuinfo.org:9000/scigraph/vocabulary/id/DOID_12058

[2015-01-21 18:25] #61 closed

[2015-01-21 21:36] ccondit commented on #55
Added a REST endpoint supporting multiple root IDs for the subgraph query:
http://geoffrey.crbs.ucsd.edu:9000/scigraph/docs/#!/graph/getNeighborsFromMultipleRoots

[2015-01-27 17:21] twhetzel opened #62 "Autocomplete returns empty list when limit=1"
When the autocomplete limit is set to 1, the call returns an empty list, e.g.
http://matrix.neuinfo.org:9000/scigraph/vocabulary/autocomplete/brain?limit=1&searchSynonyms=true&includeDeprecated=false
When the limit=2, one item is returned.

[2015-01-27 19:21] #62 closed

[2015-01-27 19:58] twhetzel commented on #49
Added a test for the SciGraph autocomplete service on matrix. Will commit files after sorting out GitHub issue.

[2015-01-28 09:44] twhetzel commented on #48
Sure, just saw the YAML file here [1] needs to be updated in the categories section to:
- Remove http://purl.bioontology.org/NEMO/ontology/NEMO.owl#NEMO_9559000 : cell
and Add http://purl.obolibrary.org/obo/GO_0005623

@ccondit is a change I can make and then re-load nifstd?

[1] https://bamboo.crbs.ucsd.edu/build/admin/edit/editBuildTasks.action?buildKey=NIF-NIFSCIGRAPH-JOB1

[2015-01-28 17:23] ccondit commented on #48
I updated the job and the job is running. @twhetzel - feel free to update this as necessary. Just note that you'll need to synchronize this between development, stage, and production by hand.

[2015-01-28 17:23] #48 closed

[2015-01-28 17:55] twhetzel commented on #48
Super! @ccondit I'll need a short demo on these tasks

[2015-01-29 16:44] ccondit commented on #36
@cmungall - is this resolved with the Golr work?

[2015-02-02 23:48] #42 closed

[2015-02-02 23:49] ccondit commented on #23
@nlwashington can this be closed with the Dipper / SciGraph work?

[2015-02-03 01:29] kshefchek opened #63 "Limit by taxon for /vocabulary/autocomplete/{term}"
It would be useful to be able to limit autocomplete results based on taxon ID or label.  One use-case would be for searching for taxon specific phenotypes as an input for phenolog searching.  Adding @bryanlaraway as a watcher.

[2015-02-03 18:45] cmungall commented on #63
There are probably a few different scenarios to unpack here

One is the case of genes, where different entities can share the labels
with their homologs in other species. So when I autocomplete on "Shh" I
get a bunch of indiscernable (from the autocomplete interface) genes in
human, mouse, etc. @kltm has thought about this a lot for noctua and
amigo

There is a second case, where someone querying

[2015-02-03 18:46] twhetzel opened #64 "Load Registry information as OWL file"
The Registry information needs to be loaded into the NIF instance of SciGraph. I will send the OWL file via email.

Along with loading this file, a new entry in the category YAML file is needed:
http://vivoweb.org/ontology/core#GovernmentAgency : GovernmentAgency
http://vivoweb.org/ontology/core#University : University

cc: @debanks @bandrow @jgrethe

[2015-02-03 22:14] ccondit commented on #63
In addition to the above we could also add a post processing step moving taxa information onto the phenotypes / genes so that it could be indexed for faster autocomplete.

[2015-02-04 19:15] twhetzel commented on #64
PS - Last I've heard loading this information in SciGraph is a dependency for the next SciCrunch release which is targeted for Feb. 9.

[2015-02-04 22:36] twhetzel commented on #64
The test file is available here: http://ontology.neuinfo.org/SciCrunchRegistry/

[2015-02-04 23:51] ccondit commented on #55
Added categories to the bbop output

[2015-02-04 23:51] #55 closed

[2015-02-06 18:43] twhetzel commented on #64
It seems this update to the YAML file needs to be done:
http://vivoweb.org/ontology/core#GovernmentAgency : GovernmentAgency
http://vivoweb.org/ontology/core#University : University
based on what I see here: https://bamboo.crbs.ucsd.edu/build/admin/edit/editBuildTasks.action?buildKey=NIF-NIFSCIGRAPH-JOB1

[2015-02-06 20:53] twhetzel opened #65 "Autocomplete should return results when an abbreviation is the search term"
Anita mentioned that the autocomplete service should return suggestions when the abbreviation of a term is entered. In reviewing the autocomplete web service [1] using c11n as the input term no results are returned, however when the preferred label of this term is used [2] accessory nerve root results are returned. c11n is an abbreviation for http://ontology.neuinfo.org/NIF/BiomaterialEntities/NIF

[2015-02-06 23:06] #16 closed

[2015-02-06 23:09] #15 closed

[2015-02-06 23:10] nlwashington commented on #23
i think we have some nice use cases solved with the appropriate datasets, as documented in our dgocs.  see me for help if you want access.

[2015-02-06 23:10] #23 closed

[2015-02-06 23:43] nlwashington opened #66 "template queries"
We'd like to add template queries as services to SciGraph.

Some examples to solve:

1.  what are the genotypes that involve my gene?
2.  what are the phenotypes associated with my gene?
3.  what are the phenotypes associated with my disease?
4.  what publications mention my gene?
5.  with what genes does my gene interact?
6.  what are the orthologs of my gene?

[2015-02-07 00:00] memartone commented on #66
We have something like that for ONtoquest (the FIND command), e.g., FIND:gene cerebellum, finds all references to cerebellum that had a column mapped to gene.

Maryann Martone, Ph. D.
Professor-in-Residence
Department of Neuroscience
University of California, San Diego
San Diego, CA 92093-0446

858-822-0745

On Feb 6, 2015, at 3:43 PM, Nicole Washington <notifications@github.com> wrote:

[2015-02-07 00:56] ccondit commented on #66
Would be great to configure these templates with the YAML for the application. The only hitch is that Jersey 1.19 (which DropWizard 0.7.2 uses) doesn't support programmatically generating resources (AFAIK). Dropwizard 0.8.0 will switch to Jersey 2.x which will allow this. Currently this is at RC2 and from the look of the repository they're getting ready for a final release.

[2015-02-10 21:44] mellybelly opened #67 "Bulk query adaptors?"
Can you all discuss what sort of components would be needed for third party systems like Galaxy, Intermine, etc. to be able to pull data from SciGraph?

Maybe nothing special is needed other than some documentation, but just want to put these particular use cases on your radar.

[2015-02-10 22:01] ccondit commented on #67
Is this related to #5. Would the data in question be the entire graph or just a subset of it?

[2015-02-10 23:36] #64 closed

[2015-02-11 14:38] mellybelly commented on #67
Hi Chris,
Yes the types of queries are same as #5, but with the exception that someone would query SciGraph via a third party system for some subset of the graph.

For example, a Galaxy user might want to import all phenotypes on a given chromosome into their Galaxy project.  I'm just wondering if there is anything we might want to do to make it easy to embed a SciGraph query tool in other sites t

[2015-02-11 18:46] twhetzel opened #68 "Missing category assignments for Institutions in Autocomplete"
Some Government granting agencies are missing a category assignment, e.g. National Institute of Aging.

[2015-02-11 19:07] nathandunn commented on #66
@nlwashington   @ccondit  Some additional queries:
- coordinates given a chromosome
- coordinates given the chromosome sub-band: (\d+|A-Z)[pq]\d+\.\d+
20 -> 20q -> 20q1 -> 20q13 -> 20q12.3 ->20q12.33
- coordinates given a gene (min and max only necessary)

[2015-02-11 19:25] nathandunn commented on #66
Related to:  https://github.com/monarch-initiative/monarch-app/issues/653

Specifically on the phenotype pages I need access to the genes with that data (right now calling the gene page with the JSON extension and grabbing that data).

[2015-02-12 20:54] nlwashington opened #69 "exact matches missing from suggestions"
I think the suggestion service is not working correctly.

For example:
http://kato.crbs.ucsd.edu:9000/scigraph/vocabulary/suggestions/shh?limit=1&callback=fn

i would expect to get back exact matches in the result.  why don't i?

also, i would expect to get partial matches back, why don't i? for example:
http://kato.crbs.ucsd.edu:9000/scigraph/vocabulary/suggestions/MEF2BNB?limit=1&callback=fn
but

[2015-02-12 20:56] ccondit commented on #69
I think you're looking for the autocomplete resource:
http://kato.crbs.ucsd.edu:9000/scigraph/vocabulary/autocomplete/shh?limit=1&callback=fn
and
http://kato.crbs.ucsd.edu:9000/scigraph/vocabulary/autocomplete/MEF2BNB?limit=1&callback=fn

Are those the results you expect?

[2015-02-12 21:02] nlwashington commented on #69
Well, not exactly.  Why do i get different results between the term and autocomplete?
http://kato.crbs.ucsd.edu:9000/scigraph/vocabulary/autocomplete/MEF2BNB?limit=1&callback=fn
http://kato.crbs.ucsd.edu:9000/scigraph/vocabulary/term/MEF2BNB?limit=1&callback=fn

and why don't I get
http://kato.crbs.ucsd.edu:9000/scigraph/vocabulary/search/MEF2BNB-MEF2B?limit=1&callback=fn ?

[2015-02-12 21:03] nlwashington commented on #69
oh wait, if i increase the limit, i see the other terms in autocomplete.

[2015-02-12 21:27] twhetzel commented on #69
We had the same (or very similar) issue in our instance of SciGraph for NIFSTD and requested an update, which fixed this issue. @ccondit is this the same issue and are updates applied to SciGraph that propagate to all instances?

[2015-02-12 21:32] ccondit commented on #69
Oh yes. I think this is resolved on alpha:
http://geoffrey.crbs.ucsd.edu:9000/scigraph/vocabulary/autocomplete/MEF2BNB?limit=1

[2015-02-17 17:08] cathzwah opened #70 "Update external ontology (HBP Use Case)"
Update externally maintained ontologies. Those should never be edited internally.
### Use cases:

#### New ontology available in obo or owl
1. API call to upload the ontology file.
2. Terms are immediately available

#### Update an ontology with a new version in obo or owl
1. Update ontology version and date of load
2. Term not modified -> nothing happen
3. Modified properties of term (eg, modify

[2015-02-17 17:40] cathzwah opened #71 "Update ontology (HBP Use Case)"
Add term to a HBP ontology for example to the methods ontology.

### Use cases:

#### A scientist add a new term to the method ontology
1. The term is created with a status "need curation".
2. The term is available for the scientist to annotate data
3. The term is reviewed by a curator and approved or merged with another term.

#### A scientist modifies a term
1. The original term is kept and is s

[2015-02-17 19:25] nlwashington commented on #69
i think you're right.

[2015-02-17 19:25] #69 closed

[2015-02-17 19:26] ccondit commented on #70
@cathzwah I think you may have the wrong project...

[2015-02-17 20:02] jgrethe commented on #70
Hi Chris,
Catherine is part of the HBP group that I mentioned a few weeks ago in regards to using SciGraph and the need for services to dynamically add/suggest terms to SciGraph.  She has been reviewing SciGraph and was collecting some HBP use cases for SciGraph.  So I am reopening these.  Will tag these.

[2015-02-17 20:04] jgrethe commented on #71
HBP Use Case

[2015-02-17 20:14] twhetzel commented on #70
@jgrethe can we set-up a call to discuss these requirements?

[2015-02-17 21:29] ccondit commented on #66
I've also added a Cypher hack to allow the template queries to request all subObjectProperties of a relationship. For instance:
MATCH (n)-[r:TYPE!]-(m)
RETURN n,r,m
Will return `r`s with TYPE or any of its descendants.

This can also be used with multiple types: [:TYPE|TYPE2!]

[2015-02-18 21:17] cmungall commented on #65
I don't know if this is a SC requirement but many ontologies follow the uberon model for synonyms:

https://github.com/obophenotype/uberon/wiki/Using-uberon-for-text-mining

[2015-02-18 21:45] debanks opened #72 "500 Errors on autocomplete in the Matrix version"
I am getting 500 errors on the vocabulary/autocomplete json calls. Ex.

http://matrix.neuinfo.org:9000/scigraph/vocabulary/autocomplete/cell?limit=20&searchSynonyms=true&includeDeprecated=false

[2015-02-21 01:00] #72 closed

[2015-02-21 01:01] ccondit commented on #65
see:
http://matrix.neuinfo.org:9000/scigraph/vocabulary/autocomplete/vis%20syst?limit=20&searchAbbreviations=true

[2015-02-21 01:01] #65 closed

[2015-02-23 16:28] nathandunn commented on #66
@ccondit   Is this ready to test?  No worries if not.

[2015-02-23 17:52] ccondit commented on #66
@nathandunn Very close. What are you initial use cases?

[2015-02-23 18:52] nathandunn commented on #66
Sure.  The initial ones will be:
- select all variants for phenotype: HP:0001298 and organism Human
- select all variants for disease:  OMIM:613759 and organism Human

Variant information should include:
- location
- chromosome
- gene (if available)
- any other meta-information on the variant

[2015-02-23 19:04] nlwashington commented on #66
Ok, so a couple of questions.  If I give you a list of identifiers for genomic features linked to the phenotype query, can you look up the locations yourself?

For example, if what is connected to a phenotype or disease is a gene, can i return to you the gene id (that you can then look up the coordinates?)  At the moment we don't have location information other than chromosome (and sometimes chr b

[2015-02-23 19:19] nathandunn commented on #66
Hmm . . unfortunately, that doesn't tell me where to draw the variant, just what gene it is in.

Another option would be to have:
1 - a unique ID for the specific variants
2 - an all-inclusive variant track with the same ID's (if you have the GFF3 source, I can convert).

It could be that we fork whatever your incoming source for creating the variants is (is this deja vu) to create the GFF3 file.

[2015-02-23 19:58] nlwashington commented on #66
so, the thing is, eventually we're going to have phenotype data attached to all different levels of genomic granularity.  sometimes it'll be at the gene level, sometimes at a large genomic interval, and sometimes at a specific base pair.  you really want to get back the features that are attached to the query phenotype.  now, if you're use case here is only for variants, you'll have to wait awhile

[2015-02-23 20:05] nathandunn commented on #66
Is there anything that variants are linked to that we can use?

Nathan

[2015-02-23 21:02] nlwashington commented on #66
there are currently no variants loaded into scigraph.

[2015-02-23 21:39] nathandunn commented on #66
I see.  Sorry, I thought we had them in there or they were going to be in there soon.

Taking a step back, we should be able to get associated genes for a phenotype / disease through a single SciGraph call, right?     That use-case will be helpful.

As for variants:
1 - are we planning on getting them into SciGraph in the future?
2 - if not there, is there another place we can query them from?

Na

[2015-02-26 18:09] nathandunn commented on #66
@nlwashington   says that she can likely get me a mapping from a phenotype -> Gene  where Gene also has chromosome location and organism information .  . all out of the same request.   That should be sufficient.

[2015-02-26 22:49] ccondit commented on #54
Implemented a preliminary version of this using the dynamic cypher queries from #66
@kshefchek Have a look at:
http://rosie.crbs.ucsd.edu:9000/scigraph/dynamic/phenotypes_from_disease.json?disease_id=DOID_0050013
and
http://rosie.crbs.ucsd.edu:9000/scigraph/dynamic/diseases_from_phenotype.json?phenotype_id=HP_0007351

[2015-02-26 23:36] kshefchek commented on #54
Will start playing around with the directed graph visualization.  Maybe it is also worth trying out d3 with canvas, which should be pretty similar to what we do with d3 and svg (and keep our viz library consistent).  Will also play around with @kltm's cytoscape.js tool.

[2015-02-26 23:49] ccondit commented on #54
@kshefchek, let me know if you need other graph formats. Note that SciGraph can currently produce the BBOP json format, graphml, graphson, and gml. Shouldn't be too much trouble to add others if necessary.

[2015-02-26 23:53] kltm commented on #54
@kshefchek that code is a wee bit crusty and may not work anymore. If you have any questions, let me know.

[2015-02-27 00:07] ccondit commented on #66
Added some initial implementations here:
http://rosie.crbs.ucsd.edu:9000/scigraph/dynamic/phenotypes_with_gene.json?gene_id={gene_id}
http://rosie.crbs.ucsd.edu:9000/scigraph/dynamic/genes_with_phenotype.json?phenotype_id={phenotype_id}
http://rosie.crbs.ucsd.edu:9000/scigraph/dynamic/genotypes_from_gene.json?gene_id={gene_id}

[2015-02-27 00:07] ccondit commented on #66
@nlwashington let me know when DIPPER is ready to supply the rest of the data to finish these queries...

[2015-02-27 00:29] nlwashington commented on #66
@harryhoch these are the examples i indicated we can query for phenogrid... monarch-app can wrap these.  for example, http://rosie.crbs.ucsd.edu:9000/scigraph/dynamic/genotypes_from_gene.json?gene_id=ZDB-GENE-070117-1709

[2015-02-27 00:46] ccondit opened #73 "Apply Categories to Named Individuals"
How should categories be applied to named individuals. Is there a better method than the current simple scheme?

[2015-02-27 01:04] nlwashington commented on #73
in this example:
http://rosie.crbs.ucsd.edu:9000/scigraph/dynamic/genotypes_from_gene.json?gene_id=ZDB-GENE-070117-1709

the sequence alteration ZDB-ALT-061101-19 is a named individual that doesn't have a category.  i am not even sure we want to give it a category.

same for ZDB-GENO-061101-19, it is also a named individual (i believe of type intrinsic_genotype).

since all individuals are typed a

[2015-02-27 03:33] harryhoch commented on #66
thanks. Just so I understand, will those calls be migrating to kato?

----
Harry Hochheiser
University of Pittsburgh
Department of Biomedical Informatics
harryh@pitt.edu 		412 648 9300

[2015-02-27 03:36] harryhoch commented on #54
@kschefchek, at the risk of getting into a religious argument, why bother to mess with canvas? Is there some value-added there that SVG does not provide?

----
Harry Hochheiser
University of Pittsburgh
Department of Biomedical Informatics
harryh@pitt.edu 		412 648 9300

[2015-02-27 05:54] kshefchek commented on #54
I'm happy testing it out with SVG.  I've never used canvas so I have no real comparison.  We can see if there are any performance issues with larger graphs.

[2015-02-27 17:23] ccondit commented on #66
rosie has a larger graph than the current monarch production. It will
either migrate to kato or to some other production VM.

It will stay on rosie for a while until we get all the issues ironed out.

[2015-02-27 17:41] harryhoch commented on #66
ok, so I can point monarch-app @ rosie instead of kata? thanks for clarifying.

----
Harry Hochheiser
University of Pittsburgh
Department of Biomedical Informatics
harryh@pitt.edu 		412 648 9300

[2015-02-27 17:44] ccondit commented on #66
At this point they do not expose the same set of services. rosie is
for structural graph queries while kato has the vocabulary services
for monarch.owl.

[2015-02-27 17:47] harryhoch commented on #66
got it. thanks. This would seem to imply that _both_ will be needed for monarch-app - correct?

----
Harry Hochheiser
University of Pittsburgh
Department of Biomedical Informatics
harryh@pitt.edu 		412 648 9300

[2015-02-27 17:51] ccondit commented on #66
Potentially. We still need to do some research to figure out the best
deployment plan. The unknown is if clients actually want to
autocomplete on all the entities in the larger graph.

[2015-02-27 17:57] harryhoch commented on #66
ok, thanks. short-term for dev/testing purposes, we might need to use both...

----
Harry Hochheiser
University of Pittsburgh
Department of Biomedical Informatics
harryh@pitt.edu 		412 648 9300

[2015-02-27 18:44] ccondit opened #74 "GML array output"
When TinkgerGraph elements have arrays as property values the GML writer just seems to use .toString() to serialize them. Need to convert the arrays to collections first.

[2015-02-27 18:44] #74 closed

[2015-02-27 18:49] ccondit opened #75 "Annotation service and UTF-8 encoding"
For UTF-8 encoded input such as "HNF-1β" the annotation services do not return UTF-8 encoded results. The response is in Latin1 (default Java) encoding not properly handling non Latin1 characters such as greek letters abundant in biological entities such as protein names.

[2015-02-27 18:50] ccondit commented on #75
Note this only affected the service returning text/plain.

[2015-02-27 18:52] bozyurt commented on #75
Hi Chris,

Does this fix affect the POST version also ?

Burak

I. Burak Ozyurt, PhD
Associate Project Scientist
UCSD Dept of Psychiatry
9500 Gilman Drive MC 0855
La Jolla, CA 92093-0855
Tel: 858-246-0606
________________________________
From: Chris Condit [notifications@github.com]
Sent: Friday, February 27, 2015 10:50 AM
To: SciCrunch/SciGraph
Subject: Re: [SciGraph] Annotation service and UTF-8

[2015-02-27 19:13] kltm commented on #54
@kshefchek Generally, unless you're going through a library that provides it (I'm guessing D3 does in this case), a canvas graph would not provide any interactivity, so there'd have to have an extra overlay layer to capture events and map them to something meaningful. While canvas is great for graphics rendering (Doom), it has no associated DOM to work with.

If the engines can be switched trivial

[2015-02-27 19:33] kshefchek commented on #54
Do we have an idea of how many nodes we want to visualize at one time?

[2015-02-27 23:25] ccondit commented on #75
This was actually a UNIX issue - the JVM needs to be started with -Dfile.encoding=UTF-8. This is running on matrix and should propagate to all the SciGraph servers when they're reloaded.

[2015-02-27 23:25] #75 closed

[2015-03-05 00:31] #73 closed

[2015-03-05 18:59] nlwashington commented on #66
can you do this one next?
what are the orthologs of my gene?

ideally, i can also submit a list of genes, and get back the orthologs for the whole list.

[2015-03-05 19:18] nlwashington opened #76 "getShortestPath has 500 error"
I tried this query:

http://kato.crbs.ucsd.edu:9000/scigraph/graph/paths/short/HP_0000524/HP_0000118?length=10&callback=fn

but it doesn't work at all.  are shortest path queries offline?  i get a 500 error.

[2015-03-05 21:51] ccondit commented on #76
This service has been removed due to performance concerns.

[2015-03-05 21:51] #76 closed

[2015-03-05 21:52] ccondit commented on #76
Can we make a template query for what you want to do?

[2015-03-05 22:22] ccondit commented on #66
Will add a way to add the relationship type as a parameter (this is not built into cypher).

[2015-03-06 17:45] ccondit opened #77 "Update handling of bnodes"
* bnodes should not get IRIs.
* SciGraph should not depend on IRIs for node IDs.

[2015-03-06 22:49] #77 closed

[2015-03-07 00:59] ccondit commented on #66
Add a way to specify logical defaults for Cypher queries that the user can override...

[2015-03-08 18:39] cmungall opened #78 "Add test case for neighbors query that tests for multiple inheritance"
This:
http://geoffrey.crbs.ucsd.edu:9000/scigraph/graph/neighbors.json?id=HP_0002751&depth=10&relationshipType=subClassOf&direction=out

Should include:
HP:0002650 (Scoliosis) and  (HP:0010674) Abnormality of the curvature of the vertebral column

[2015-03-08 18:40] cmungall commented on #78
Here is a test ontology:
[code]

[2015-03-08 18:41] cmungall commented on #78
Expected to look like:

![scol](https://cloud.githubusercontent.com/assets/50745/6547029/eef7e2ee-c587-11e4-8f4f-9e3389c24cd0.png)

But the test case could just use every SubClassOf in the above ontology and check they are recapitulated

[2015-03-09 16:35] twhetzel opened #79 "Autocomplete service displays deprecated terms when includeDeprecated=false"
When using the autocomplete service e.g. http://matrix.neuinfo.org:9000/scigraph/vocabulary/autocomplete/NCI?limit=20&searchSynonyms=true&searchAbbreviations=true&searchAcronyms=true&includeDeprecated=false, deprecated terms, http://ontology.neuinfo.org/NIF/DigitalEntities/NIF-Government-Granting-Agency.owl#nlx_inv_1005051, are displayed when the flag  includeDeprecated=false.

[2015-03-09 16:42] ccondit commented on #79
This is the declaration that I see for this class:

    <owl:Class rdf:about="http://ontology.neuinfo.org/NIF/DigitalEntities/NIF-Government-Granting-Agency.owl#nlx_inv_1005051">
      <rdfs:label rdf:datatype="http://www.w3.org/2001/XMLSchema#string">Division of cancer epidemiology and genetics</rdfs:label>
      <rdfs:subClassOf rdf:resource="http://ontology.neuinfo.org/NIF/DigitalEntities/NIF-I

[2015-03-09 16:42] #79 closed

[2015-03-09 17:47] #78 closed

[2015-03-09 18:25] cmungall commented on #79
While we're here:

  * s/agancy/agency/
  * should be modeled as individual, not a class
  * http://www.obofoundry.org/ro.owl# is a deprecated ontology
  * This class has a synonym of "" -- this is potentially very
problematic. Note the semantics are different than having no synonym.
  * dates should be modeled as xsd:dates - or at least should conform to
ISO 8601
  * the description field doesn't

[2015-03-09 19:00] twhetzel commented on #79
Yup, these are all things that have to be clean-up in NIFSTD .. but have nothing to do with my misread of what the autocomplete service should be returning.

[2015-03-09 23:58] ccondit opened #80 "Use DIPPER mapping format for CURIEs"
Should read:

    prefix : IRI prefix

and update the location for all the build plans.

[2015-03-10 00:00] nlwashington commented on #80
here's the current yaml configuration used for dipper:
https://raw.githubusercontent.com/monarch-initiative/dipper/master/dipper/curie_map.yaml

[2015-03-10 00:04] nlwashington commented on #80
will this be an issue?
'ISBN-10': 'http://www.monarchinitiative.org/ISBN_'
'ISBN-13': 'http://www.monarchinitiative.org/ISBN_'
'ISBN-15': 'http://www.monarchinitiative.org/ISBN_'
'ISBN': 'http://www.monarchinitiative.org/ISBN_'

basically the data i have uses those ISBN prefixes in their annotations, but i map them to simply ISBN because i don't think they clobber one another.

[2015-03-10 00:23] cmungall commented on #80
We decided to retain the numeric portion, e.g. ISBN10

Since we're discussing this, might be a good idea to have a strategy to make sure all things that point to us are resolvable. E.g. http://monarchinitiative.org/object/CURIE

[2015-03-10 18:34] aguptasd opened #81 "Queries we should be able to support:"
Using the Pizza Ontology example.
1. What are the toppings on MyPizza1?
2. Does MyPizza1 have ham topping?
3. Find instances of Interesting Pizza that are hot? (answer MyPizza5)
4. What is the CountryOfOrigin of pizzas with JalapenoPepperTopping?
5. Does MyPizza2 have base DeepPanBase?
6. Given that Pineapple is a fruit, and fruits can be put in a FuitTopping, can Pineapple be put on any of MyPizz

[2015-03-11 16:24] ccondit commented on #80
@nlwashington will these mappings from dipper be usable for monarch.owl as well?

[2015-03-11 16:29] ccondit commented on #17
@nlwashington can this be resolved with #66 ?

[2015-03-11 22:56] ccondit commented on #80
This has been redeployed with the new CURIEs on geoffrey and rosie.

[2015-03-11 22:56] #80 closed

[2015-03-12 19:47] ccondit opened #82 "Refactor Cypher processing code into SciGraph-core"
Should be part of the main graph API.

[2015-03-12 21:28] nlwashington opened #83 "new query for feature-to-phenotype"
similar to the gene-to-phenotype query, we really want any kind of sequence feature to phenotype query.  really, a "gene" is a specific kind of sequence feature here.

"feature" here are subclasses or instances of SO:0000110.

feature-to-phenotype relationships may happen directly, or the feature may be part of a genotype.

using the MGI data as an example
MGI:2172552 has_phenotype MP:0003727
and

[2015-03-12 21:29] nlwashington commented on #83
and we'd want the reciprocal ones too.

[2015-03-12 22:05] twhetzel opened #84 "Load new version of scicrunch-registry.owl"
To populate the autocomplete for SciCrunch to display resources and organizations, can you load this updated version of the scicrunch-registry.owl file:
http://ontology.neuinfo.org/SciCrunchRegistry/scicrunch-registry.owl

cc @bandrow

[2015-03-12 22:07] twhetzel opened #85 "Update category assignments"
Along with loading the new scicrunch-registry.owl file, can you also update the SciGraph category mapping to include:
Resource	http://uri.neuinfo.org/nif/nifstd/nlx_63400
Resource	http://uri.neuinfo.org/nif/nifstd/nlx_152328
Institution	http://uri.neuinfo.org/nif/nifstd/birnlex_2085

cc @bandrow

[2015-03-12 23:46] ccondit commented on #84
I reloaded the graph

[2015-03-13 00:41] twhetzel commented on #85
This is also needed for testing out the new scicrunch registry file.

[2015-03-13 00:53] twhetzel commented on #84
@debanks are the services on Alpha.scicrunch.com/dknet pointing to this content for the autocomplete? The response on the web site does not look like the information in the OWL file.

[2015-03-13 15:34] debanks commented on #84
currently both alpha and stage are pointing to cypher (prod scigraph) and not matrix (dev scigraph). the new ontology file doesn't seem to have propagated up to production yet but i do see resource results in autocomplete, but no resource in categories.

[2015-03-13 16:06] twhetzel commented on #84
@debanks Do you plan to leave alpha and stage both pointing to prod scigraph or should @ccondit push this file and the category assignments (#85) to prod scigraph?

[2015-03-13 16:14] debanks commented on #84
Previously matrix didn't seem stable enough as we were heading into testing so I swapped everything from it. Alpha is switched over now

[2015-03-13 16:17] twhetzel commented on #84
Thanks, not the labels on alpha look as expected so far.

[2015-03-13 16:17] #84 closed

[2015-03-13 17:05] #85 closed

[2015-03-16 17:15] kshefchek opened #86 "Add NCBIGene to curie map"
It looks like NCBIGene is currently mapped to OBO, for example:
http://geoffrey.crbs.ucsd.edu:9000/scigraph/vocabulary/autocomplete/SHH.json?limit=20&searchSynonyms=true&searchAbbreviations=false&searchAcronyms=false&includeDeprecated=false

The curie map should be:
'NCBIGene' : 'http://www.ncbi.nlm.nih.gov/gene/'

[2015-03-16 20:15] ccondit commented on #86
Looks like the CURIE map is correct - the data has the wrong IRI...

[2015-03-16 21:35] nlwashington commented on #86
genes are currently being loaded both as part of monarch.owl (from disco2turtle) and the ttl output of the dipper pipeline.  these need to be unified.  the ttl file should replace the file that monarch.owl references.  @cmungall is working on pointing monarch.owl to the new file.

[2015-03-17 06:33] nlwashington opened #87 "new query for genotype-to-phenotype"
i want to be able to query from genotype to get the phenotypes (via RO:has_phenotype).

/dynamic/genotypes/:genotype_id/phenotypes/

here, we only want the direct associations between a genotype and phenotype (as opposed to inferring phenotype from the genotype-parts).

for the inverse query:
/dynamic/phenotypes/:phenotype_id/genotypes/

we also only want direct associations between genotypes (GEN

[2015-03-17 17:26] nlwashington opened #88 "update feature-phenotype call with missing annotations"
the /feature/id/phenotype template query should have associations, but is missing them.

for example, when querying for /feature/MGI:1857543/phenotypes

there are no associations to this feature.  but, the massive graph should include the association nodes that link the phenotype to any parts of the genotype from which the association to the feature is inferred.

for the case above, we know that t

[2015-03-17 21:00] nlwashington commented on #88
related to #83

[2015-03-18 19:54] nlwashington opened #89 "add associations to phenotype-to-gene"
the /phenotypes/HP:0000528/genes.json is missing the Associations.  They are present with the inverse call (for example) with /genes/NCIBGene:64093/phenotypes.json, but are missing here.  can you add them? @jnguyenx needs it for the ga4gh implementation.

[2015-03-19 00:36] nlwashington opened #90 "phenotype-to-gene not listing original phenotypes"
the call http://rosie.crbs.ucsd.edu:9000/scigraph/dynamic/phenotypes/HP:0008056/genes.json

gets a bunch of genes back.  the associations between the phenotype and the gene should be inferred through the disease, like:  phenotype<--[has_phenotype*]--gene

BUT, it is returning only the phenotype that is queried, but none of the inferred phenotypes.
for example, we should be getting back STIM1, a ge

[2015-03-20 00:01] ccondit commented on #5
Added a writer for XGMML (media type: application/xgmml, suffix .gr). So now SciGraph supports:

* bbop json
* graphml
* graphson
* gml
* xgmml
* png
* jpeg

These can all be used with either the dynamic, template queries or the usual graph services.

[2015-03-20 00:01] #5 closed

[2015-03-20 00:02] ccondit commented on #2
This service has been removed.

[2015-03-20 00:02] #2 closed

[2015-03-20 00:03] #1 closed

[2015-03-25 16:13] kshefchek opened #91 "Autocomplete with cateogry parameter is broken"
Adding a category to an autocomplete query seems to break the query, for example:

http://geoffrey.crbs.ucsd.edu:9000/scigraph/vocabulary/autocomplete/SHH?limit=20&searchSynonyms=true&searchAbbreviations=false&searchAcronyms=false&includeDeprecated=false

http://geoffrey.crbs.ucsd.edu:9000/scigraph/vocabulary/autocomplete/SHH?limit=20&searchSynonyms=true&searchAbbreviations=false&searchAcronyms=fa

[2015-03-25 16:58] ccondit commented on #91
Resolved - was just a configuration issue on geoffrey.

[2015-03-25 16:58] #91 closed

[2015-03-25 18:20] kshefchek opened #92 "NCBIGenes have prefix OBO:NCBIGene_ for curies"
I believe there was an issue with yaml configuration, would it be possible to correct this and reload?

[2015-03-25 18:22] ccondit commented on #92
Is this on geoffrey? Update the configuration here:
https://github.com/monarch-initiative/dipper/blob/master/dipper/curie_map.yaml
and I can redeploy the application.

[2015-03-25 18:29] kshefchek commented on #92
That looks right, maybe this is an upstream issue with the ontology import?

[2015-03-25 18:35] ccondit commented on #92
What's the resource that's having the trouble?

[2015-03-25 18:39] kshefchek commented on #92
On geoffrey all entrez genes are prefixed with OBO, so perhaps the URI from the ontology is actually http://purl.obolibrary.org/obo/ ?  For example:
http://geoffrey.crbs.ucsd.edu:9000/scigraph/graph/OBO:NCBIGene_6469

[2015-03-25 18:50] nlwashington commented on #92
This us in flux. Thus is the issue if differences between genes in
monarch.owl vs ncbigene.ttl...genes are coming in two places, and we are
working on unifying them. Let's work in this tomorrow.
On Mar 25, 2015 11:39 AM, "Kent Shefchek" <notifications@github.com> wrote:

[2015-03-28 14:54] mellybelly opened #93 "Add examples to Cypher queries"
It would be great to have some examples in the REST services descriptions so as to know how to formulate the identifiers for the queries.

For example, I have a gene ID but I don't know a priori if I need to write it as NCBI_1200, just 1200, NCBI:1200, GENE:1200 etc.

[2015-03-28 23:00] nlwashington opened #94 "missing depiction edges"
for the node, EOM_01f3cc71dd4c3b9d
i am not seeing the foaf:depiction edges in the vocabulary or graph services:
http://rosie.crbs.ucsd.edu:9000/scigraph/vocabulary/id/EOM_01f3cc71dd4c3b9d

here is the full ttl for this item:
<pre>
OBO:EOM_01f3cc71dd4c3b9d a owl:Class ;
    rdfs:label "Foot, Osseous Syndactyly of" ;
    OBO:IAO_0000115 "Lateral (A/P) fusion of the digits (phalanges and/or metatars

[2015-03-28 23:48] ccondit commented on #94
It's in the graph - just as a node property:
http://rosie.crbs.ucsd.edu:9000/scigraph/graph/EOM_01f3cc71dd4c3b9d.gml

How are you expecting this to be translated to an edge?

[2015-03-29 00:05] nlwashington commented on #94
oh!  perfect.

[2015-03-29 00:10] #94 closed

[2015-04-02 16:48] ccondit commented on #89
Should be able to add the `evidence=true` query parameter now to any call to retrieve the associations:
`phenotypes/HP:0000528/genes.json?evidence=true`

[2015-04-02 16:48] #89 closed

[2015-04-02 16:50] ccondit commented on #88
Should be resolved with `evidence=true`...

[2015-04-02 16:50] #88 closed

[2015-04-02 16:58] ccondit commented on #83
Implemented on rosie

[2015-04-02 16:58] #83 closed

[2015-04-02 16:59] ccondit commented on #66
Template queries are functional. Let's take updates as new feature requests...

[2015-04-02 16:59] #66 closed

[2015-04-02 17:03] ccondit opened #95 "Support multiple IDs as resource input"
Allow clients to supply multiple IDs to dynamic resources. For example:
/features/FEATURE:001+FEATURE:002/features.json

[2015-04-02 20:47] #82 closed

[2015-04-03 00:40] cmungall opened #96 "Class Enrichment service"
Given:

 * a set of entities `E=(e1, ..., en)` (for example genes), where E is a subset of all nodes `E ⊂ N`,
 * a path expression `P` that either holds or does not hold for any pair `i,j ∈ N` (for example SubClassOf or part_of)
 * an ontology class `c`

test for over or under representation of the set `E` to `c` over `P`. And more generally, perform this test for all `c1, ..., cn ∈ O`. And option

[2015-04-03 00:44] cmungall commented on #96
@jnguyenx - assign yourself as soon as you get the invite!

[2015-04-03 23:19] bwalsh opened #97 "Newbie question: java.io.IOException: Invalid argument"
Hi.
Just started here at OHSU.  I'm attempting to install and launch this locally.

Getting the following error when executing the "Build the graph" step

[code]

System info ( I'm running vagrant & virtualbox )

[code]

The error:

Apr 03, 2015 11:08:25 PM edu.sdsc.scigraph.owlapi.loader.OwlLoaderModule getInserter
INFO: Getting BatchInserter
[WARNING]
java.lang.reflect.InvocationTargetException

[2015-04-03 23:58] ccondit commented on #97
I added a Vagrant box to the project and updated the [getting started documentation](https://github.com/SciCrunch/SciGraph#getting-started). Let me know if that solves the problem...

Note that you do not need a Neo4j server running. SciGraph currently uses an embedded Neo4j database.

Would also love to check out your Vagrant box to see what the problem might have been. Would you email me the con

[2015-04-04 19:02] bwalsh commented on #97
Thanks.  I'll email you the vagrant file I've been using.

[2015-04-06 18:23] ccondit opened #98 "Java 8 issues"
Something changed in JDK 8 s.t. Lucene 3.6 result ordering is changing. This causes numerous Vocabulary tests to fail.

Additionally there's a build error:
org.xml.sax.SAXParseException; systemId: file:/home/jnguyenxuan/workspace/SciGraph/SciGraph-services/src/main/xsd/xgmml.xsd; lineNumber: 37; columnNumber: 58; schema_reference: Failed to read schema document 'xml.xsd', because 'http' access is

[2015-04-06 21:13] bwalsh commented on #97
Scratched my head for a bit, then on a hunch ( figuring that the error was happening low on the stack, close to the file system), I cloned the repo into ~/.  Previously, I had been cloning into /vagrant so that I could edit from the host system (windows).

That was the trick.  Once I used the native file system instead of the shared volume, everything worked.

I figure it has something to do with

[2015-04-06 21:31] #97 closed

[2015-04-06 21:32] ccondit commented on #36
Replaced by #46

[2015-04-06 21:32] #36 closed

[2015-04-06 21:36] ccondit commented on #97
Gotcha. Funny issue. Will make a note of it on the readme...

[2015-04-06 21:59] ccondit commented on #46
SciGraph will support the following conventions:
Given a Cypher query Q with projection P for the subgraph G provide a result processor that produces JSON for GOLR to ingest. This processor will provide the following:

* For every field F in P
  - If F is a primitive then pass through directly to the JSON
  - If F is a node then pass through a "GOLR quad". (CURIE, CURIE closure, label, label closu

[2015-04-07 00:29] cmungall commented on #96
Test data:

src/test/resources/ontologies/pizza.owl

switch on reasoning when loading into SG. Configure a prefix
    pizza: http://www.co-ode.org/ontologies/pizza/pizza.owl#

So that pizzas can be referred to as pizza:Cajun, etc

 * E = FourSeasons, AmericanHot, Cajun (or choose any mix here)
 * background = all subclasses of Pizza
 * P = hasTopping o (SubClassOf)*
 * test for all c where c is a

[2015-04-13 20:53] nlwashington opened #99 "sometimes csv output"
it seems some of the services that return a simple list are amenable to also outputing a csv.  can we consider adding this?

for example:
http://localhost:8080/scigraph/dynamic/genes/NCBIGene:14183/genotypes/targets.json

we get a blob back with an array of nodes like:
nodes": [{
"id": "MGI:3766095",
"lbl": "Fgfr2<tm2.1Lni>/Fgfr2<tm2.1Lni>[involves: 129S1/Sv * 129X1/SvJ * C57BL/6]",
"meta": {
"cat

[2015-04-13 20:56] ccondit commented on #99
Is the general feature request here to just return a CSV of nodes in a subgraph?

[2015-04-14 01:22] cmungall commented on #71
We have a project where we are considering SciGraph as an updateable store. Obviously this is a big piece of work as SG is currently intended as a query/integration engine. It would be useful to compare requirements

[2015-04-15 19:05] tgbugs opened #100 "scigraph vocalbulary search service result ordering"
The vocabulary search service http://matrix.neuinfo.org:9000/scigraph/vocabulary/search/ does not return results in expected order. For example a search for dendrite only returns an exact match as the 50th result. http://matrix.neuinfo.org:9000/scigraph/vocabulary/search/dendrite?limit=100&searchSynonyms=false&searchAbbreviations=false&searchAcronyms=false

I think expected behavior would be to re

[2015-04-15 20:10] memartone commented on #100
Yes, that is in indeed the right order.  We’ve had that problem in SciCrunch results ranking too.

[2015-04-15 23:49] cmungall opened #101 "ID resolution service"
Is there a ticket for this already? Maybe for nif services over in JIRA? If not I can write one. Basic idea: given a list of labels, return label=>id mapping. Not quite the same as the annotator service, the assumption is that the labels mostly uniquely identify something 1:1 (possibly searching only within some space, e.g. human genes), anything not matched or ambiguously matched returned in sepa

[2015-04-15 23:50] cmungall commented on #101
So this would obviously also be v useful for Monarch for a general "tell me everything about this list of genes" capability

[2015-04-16 00:30] ccondit commented on #101
How many labels would you expect as input (mean/max)?

On Wed, Apr 15, 2015, 16:50 Chris Mungall <notifications@github.com> wrote:

[2015-04-16 00:32] cmungall commented on #101
It's not inconceivable that someone might want something approximating the number of genes in the human genome (e.g. when a background set in an enrichment involves most genes), ~20k.

At some point, for things like analyze services, does it make sense to go async?

[2015-04-16 00:35] cmungall commented on #101
mean: 20-50

[2015-04-16 00:37] cmungall commented on #101
@nlwashington just found our old spec for this

https://support.crbs.ucsd.edu/browse/NIF-9128

https://docs.google.com/document/d/12Dhutg2kqwLW2Fbsn29H1OOxGnXmNHxxuucY8SnL2ek/edit#heading=h.8v37d2oztzfa

which is more about ID-ID which is a subset of the problem specified above

[2015-04-16 16:38] tgbugs opened #102 "scigraph annotation service includes parentheses and punctuation inside annotations"
Text submitted to http://matrix.neuinfo.org:9000/scigraph/annotations comes back with ( and ) and , and . stuck inside the annotation.

Here is an example of what is coming back
```<span class="sciCrunchAnnotation" data-sciGraph="bent,http://purl.obolibrary.org/obo/PATO_0000617,quality">(bend</span>```

The expected result is:
```(<span class="sciCrunchAnnotation" data-sciGraph="bent,http://purl.o

[2015-04-16 17:11] ccondit opened #103 "Services fail to start with Error: Invalid or corrupt jarfile"
Looks like we're running up against the [limits of the shade zip file](http://stackoverflow.com/questions/13021423/invalid-or-corrupt-jar-file-built-by-maven-shade-plugin).

[2015-04-16 17:14] ccondit opened #104 "Trailing slash on Swagger link"
http://localhost:9000/scigraph/docs/ resolves
but http://localhost:9000/scigraph/docs does not. Should resolve to the same spot.

[2015-04-16 17:21] ccondit commented on #103
@llui would you please try this out with the Bamboo deployments?

[2015-04-16 18:17] lawrencellui commented on #103
All SciGraph service builds have been updated to use the new zip file.

[2015-04-16 18:20] #103 closed

[2015-04-16 19:00] cmungall opened #105 "Solr wrapper layer to provide hierarchy to facets"
Solr provides a fast way to get back counts on facets. If the Solr instance follows the golr pattern then those facets may be ontology classes, and the counts automatically use the closure.

However, the facet list is flat. It can be ordered by counts, but this doesn't reveal the hierarchy

See
http://tartini.crbs.ucsd.edu/labs/widget-scratch/phenotype/HP:0008065
"golr-disease" tab, click "Phenoty

[2015-04-16 19:06] kltm commented on #105
If we're talking about this in the context of the golr widgets, it might be worth looking at or grouping with berkeleybop/bbop-js#30.

As a reminder about face-to-face, I'll be working remotely tomorrow.

[2015-04-16 19:28] mellybelly commented on #105
@tudorgroza may be interested in this

[2015-04-16 19:53] cmungall commented on #96
The path /analyzer/ should be kept broad for a range of analysis services. This one should be something enrich /analyzer/enrichment/?

Note that we will have two broad categories of input: sets (current implementation) and entity-magnitude pairs (which could include ranked lists, ie magnitude=rank). Is this best done with two separate URLs? If so, then perhaps /analyzer/enrichment/set (current) /a

[2015-04-17 16:06] cmungall opened #106 "Graph or ontology-level properties mapped into SciGraph"
SciGraph loads individual ttl or owl documents. On the RDF level each is considered a distinct *named graph*. On the OWL level each is it's own distinct *ontology* (which is confusing terminology as these may purely be data).

Each such set may have its own properties: e.g. HPO annotations may have a link of dc:source to the HPO website.

At the moment I believe this gets lost as neo4j doesn't hav

[2015-04-17 17:22] ccondit opened #107 "HyperGeometricAnalyzer mutates request"
The [`processRequest`](http://goo.gl/XlFM5P) method mutates `AnalyzeRequest`. This could lead to unexpected results for the client.

[2015-04-19 01:22] cmungall opened #108 "return CURIES in annotate service"
Example:

http://geoffrey.crbs.ucsd.edu:9000/scigraph/annotations/entities.json?content=SHH+neuonitis+neurons+development+lung&minLength=4&longestOnly=false&includeAbbrev=false&includeAcronym=false&includeNumbers=false

Currently URIs are in the id field. Can we have it so that the keys in the json object are consistent with other parts of the SG API? E.g. fragment, id, CURIE, uri

[2015-04-19 23:01] ccondit opened #109 "Support owl:equivalentProperty"
Verify this is stored in the metadata and that it can be used for indexing purposes.
Mapped properties with equivalentProperties should also be indexed.

Cypher queries that expand subProperties should also include equivalent properties.

[2015-04-20 16:41] ccondit opened #110 "Improve handling of non-english literals"
If the language of a literal isn't `@en` it should not be silently ignored. Either find a way to store it or warn that the literal won't be stored.

[2015-04-20 16:44] ccondit opened #111 "Property mapping should handle multiple mappings"
When mapping properties during loading many to many mappings should be supported.
For instance:

[code]

`prefLabel` should map to both label and synonym. Currently it only maps to the last entry found.

[2015-04-20 17:06] ccondit commented on #46
Here's the mapping file that I'm using to produce the Solr schema:

[code]

Can we adjust this so that it will work with whatever widgets are required?

[2015-04-20 17:44] ccondit commented on #108
Should all of those properties be included?
Or should id be a CURIE if mapped, otherwise an IRI?

[2015-04-20 20:36] #108 closed

[2015-04-21 00:07] #107 closed

[2015-04-21 20:56] twhetzel opened #112 "Load CURIE mapping for NIFSTD"
@ccondit  Can you load this file for NIFSTD http://ontology.neuinfo.org/NIF/nifstd_curie_map.txt in SciGraph?

[2015-04-21 22:40] cmungall commented on #112
I recommend managing this in github, as a yaml file (very easy to cvt your existing file)

[2015-04-22 03:47] tgbugs commented on #112
Is there an existing repo we can put it in or should we just create a new one for nifstd related things?

[2015-04-22 04:12] twhetzel commented on #112
Currently all NIFSTD files are in a UCSD SVN repo. Previously we decided to
not move the files to GitHub due to space constraints.

On Tue, Apr 21, 2015 at 8:47 PM, Tom Gillespie <notifications@github.com>
wrote:

[2015-04-22 04:48] tgbugs commented on #112
Without knowing more of the history behind this can I just bug someone to set us up a git server? Alternately I can create a public repo under this account since I'm a student. If we need to transition later it is trivial to set up our own git server (I'm surprised we don't have one already).

[2015-04-22 05:11] twhetzel commented on #112
If there isn't a requirement that the CURIE file exist in GitHub then
there's no need to complicate this task of testing CURIEs with
re-organizing the NIFSTD repo.

On Tue, Apr 21, 2015 at 9:48 PM, Tom Gillespie <notifications@github.com>
wrote:

[2015-04-22 05:21] tgbugs commented on #112
No issues here.

[2015-04-22 20:16] cmungall commented on #96
For testing using the MonGraph I suggest a list of mouse genes

E.g. a selection from
http://monarchinitiative.org/phenotype/MP:0003757

(selecting the whole set will give us a nice circular test, as the most enriched class would be MP:0003757)

To fetch this list use http://rosie.crbs.ucsd.edu:9000/scigraph/docs/#!/dynamic/get_genes_related_to_a_phenotype and plug in MP:0003757

path=hasPhenotype

[2015-04-22 20:46] ccondit commented on #96
/cc @aguptasd

[2015-04-23 20:06] nlwashington opened #114 "dynamic gene queries not working"
on both duckworth and rosie, gene queries don't seem to be working.  true for:
<pre>
http://duckworth.crbs.ucsd.edu:9000/scigraph/dynamic/phenotypes/phenotype_id/genes
http://duckworth.crbs.ucsd.edu:9000/scigraph/dynamic/genes/gene_id/phenotypes
</pre>
for example, if i query with HP:0100750, i get nothing:
http://duckworth.crbs.ucsd.edu:9000/scigraph/dynamic/phenotypes/HP:0100750/genes

but, if i

[2015-04-23 20:26] nlwashington opened #115 "summary cypher queries"
we want a service that will do things like:

"get me all the unique nodes of type Y with a filter of Z"

this could be accomplished in two ways:
1.  query by a category and getting back a list.  (a new service)
2.  a graph cypher query that goes via relationshipType=type or relationshipType=subClassOf

while (2) works, it will be painfully slow if you queried by a root node of an ontology (say, DO

[2015-04-23 22:44] ccondit commented on #115
Could this be solved by allowing the client to control the projection on the `/graph` resource?

[2015-04-23 22:52] nlwashington opened #116 "fragments with main.html"
i have found some things oddly have "main.html" in their fragment:

http://rosie.crbs.ucsd.edu:9000/scigraph/vocabulary/id/main.html
<pre>
  "concepts": [
    {
      "uri": "http://rgd.mcw.edu/rgdweb/report/gene/main.html?id=6488065",
      "labels": [],
      "fragment": "main.html",
      "curie": "RGD:6488065",
      "categories": [],
      "synonyms": [],
      "acronyms": [],
      "abbrevia

[2015-04-24 17:11] #68 closed

[2015-04-24 17:19] ccondit commented on #4
Currently all node properties are returned with other graph formats but the bbop.js format includes just id, label, and category. Since the `meta` object in bbop.js may contain arbitrary properties would it make sense to unify the behavior of all these formats and add some mechanism to control the projection of the resulting graph with some sensible defaults (also allowing a `*` projection to retu

[2015-04-24 17:56] ccondit commented on #13
In theory this could be solved with the skyline queries @aguptasd is suggesting.

[2015-04-24 17:56] #49 closed

[2015-04-24 18:11] kltm commented on #4
What kind of properties are being discussed here? If it goes beyond key/value, it might be worth either subclassing or having the data available in a separate properties class.

[2015-04-24 18:15] ccondit commented on #4
Is this case any annotation property or data property. I think it can effectively be considered key/value.

[2015-04-27 19:53] bryanlaraway opened #117 "Stalled SciGraph queries"
Running into an issue with certain 'phenotypes for a disease' REST queries stalling. This query for OMIM:600155 (HIRSCHSPRUNG DISEASE, SUSCEPTIBILITY TO, 2; HSCR2) takes a few minutes to complete:
http://rosie.crbs.ucsd.edu:9000/scigraph/dynamic/diseases/OMIM:600155/phenotypes/targets.json
This one for OMIM:607373 (AUTISM, SUSCEPTIBILITY TO, 8; AUTS8) still hasn't completed after five minutes:
htt

[2015-04-27 20:03] #116 closed

[2015-04-28 00:01] ccondit commented on #106
In this case does S correspond to the `OWLOntologyID` for the ontology document?

[2015-04-28 00:47] cmungall commented on #106
Yes. We may need to review the dipper code to ensure every dataset has this set

[2015-04-28 18:53] #99 closed

[2015-04-29 07:01] tgbugs commented on #112
@ccondit the yaml file is located here: http://ontology.neuinfo.org/NIF/nifstd_curie_map.yaml, can you load it directly from there for now or do you want it in a git repo somewhere?

[2015-04-29 18:26] ccondit opened #118 "Excise "fragment" processing"
* Fragments should no longer be used as inputs for IDs in any resource or API.
 - Any ID provided to the API is assumed to be either a complete IRI or a CURIE.
 - Add a CURIE expansion / contraction service to make behavior clear.
* Fragments should not be output with any response.
* References to fragments should be removed from documentation.

Note: fragments may still be used for relationships

[2015-04-29 19:34] ccondit commented on #112
@tgbugs the CURIE configuration is ambiguous:

    Multiple entries with same value: NIFSTD=http://uri.neuinfo.org/nif/nifstd/ and =http://uri.neuinfo.org/nif/nifstd/

Can you modify accordingly?

[2015-04-29 19:46] tgbugs commented on #112
@ccondit yep will do, getting access from Larry as we speak. I'll ping again when its done.

[2015-04-29 20:00] cmungall commented on #112
If this were in github I'd make you a pull request...

I believe the various NIFSTD ones require a hash at the end? If we are indeed keeping them...

@twhetzel , I thought we were going for a uniform prefix that maps everything in the old NIFSTD to `ttp://uri.neuinfo.org/nif/nifstd/`?

[2015-04-29 20:29] twhetzel commented on #112
@tgbugs if you have updates to the file to post, I can add the updated file to the server in the meantime

[2015-04-29 21:08] tgbugs commented on #112
@twhetzel go ahead, I'm fighting with ssh at the moment, thanks

[2015-04-29 21:23] twhetzel commented on #112
@tgbugs Do you have an updated file?

[2015-04-29 21:35] tgbugs commented on #112
@twhetzel @ccondit updated version is there now (finally got access), I also fixed the #s on the old NIFSTD entries.

[2015-04-29 21:56] bryanlaraway commented on #117
Here's a list of OMIM IDs that are not returning phenotypes in 10 seconds or less:
OMIM:612702
OMIM:608995
OMIM:157300
OMIM:600155
OMIM:240500
OMIM:224690
OMIM:613494
OMIM:607373
OMIM:308700
OMIM:607498
OMIM:143465
OMIM:600669
OMIM:600156
OMIM:607628
OMIM:613800
OMIM:607594
OMIM:271322
OMIM:607508
OMIM:610628
OMIM:177900
OMIM:181500
OMIM:137800
OMIM:613805
OMIM:244200
OMIM:613496
OMIM:114500
OMIM:

[2015-04-29 22:32] ccondit commented on #112
Ok - this is deployed. If you need to update again all you need to do it run this build:
https://bamboo.crbs.ucsd.edu/browse/NIF-NIFSCIWS
No need to file a ticket here.

[2015-04-29 22:32] #112 closed

[2015-04-30 20:40] tgbugs opened #119 "swagger api-docs response type does not match actual response type"
When I try to use python client API against http://matrix.neuinfo.org:9000/scigraph/api-docs/vocabulary built with [swagger-codegen](https://github.com/swagger-api/swagger-codegen) I encounter an error due to a mismatch between the type listed in the api-docs and the type that is actually returned by the webservice. Most of these are just cases where the webservice returns a list of objects of the

[2015-05-01 00:06] bryanlaraway opened #120 "SciGraph 'Get genes related to a phenotype' request not returning the correct data"
I noticed that the 'genes for a phenotype' query isn't returning the expected data. For example, for HP:0000878 (11 pairs of ribs), there should be 8 genes returned via OMIM/HPO (ATR, B3GALT6, HDAC, FLNB, LBR, RNU4ATAC, RPS19, SOX9) according to the data we have in DISCO/NIF. However, the SciGraph query doesn't return any of these genes at the moment.

Here's the request URL:
http://rosie.crbs.ucs

[2015-05-04 04:14] kshefchek commented on #120
Getting gene to phenotype associations in the RDF model requires traversing an anonymous node.  @ccondit how are anonymous nodes handled in the Neo4J conversion?  If these are converted to real nodes, we'll just need to add (gene)-[GENO_0000408]-(variant)-[r:RO_0002200*]->(phenotype) to the cypher query (or something along those lines).  In this case, variant is the anonymous node in the RDF model

[2015-05-04 21:55] ccondit commented on #120
This is actually just operating on a stale version of the phenotype->gene query. Will fix after @nlwashington gives the OK to move duckworth data to rosie.

@kshefchek anonymous nodes are loaded by neo4j. This pattern was just missing from the Cypher query.

[2015-05-04 22:08] kshefchek commented on #120
@ccondit would it be possible to get the template queries for rosie and duckworth into the configs repo?  I see we have one file there; I'm assuming it's for rosie?

[2015-05-04 22:18] ccondit commented on #120
@kshefchek see: monarch-initiative/configs#2

[2015-05-04 23:22] #104 closed

[2015-05-08 07:21] tgbugs commented on #104
I am still seeing this bug at 06acce3d8a185ede2797ef76b2a64bc24eb657d6 after a full rebuild.

[2015-05-08 16:11] ccondit commented on #104
Are you using matrix?
http://matrix.neuinfo.org:9000/scigraph/docs

[2015-05-08 22:10] tgbugs commented on #104
Matrix is fine, but when I rebuild on kaa.neuinfo.org I still have the old behavior. Is there some way to force maven to do a clean build (I was under the impression that it was always a clean rebuild)?

[2015-05-08 22:22] ccondit commented on #104
I'm not sure what that host is. Is there a bamboo job for it?
maven should manage all of that for you but you could always run `mvn clean package`.

[2015-05-08 22:37] tgbugs commented on #104
It is the development host I'm using for the methods ontology, there is no bamboo job I'm just following github readme at the moment (since I need to provide something that the incf/hbp folks can follow).

[2015-05-13 21:03] ccondit commented on #106
@cmungall -
Should this apply to all axioms in an ontology / named graph (or just object properties)?
Should declaration axioms also be linked to S or just relationships?

[2015-05-14 18:37] ccondit opened #121 "Provide a projection mechanism for node properties"
Provide a `project` parameter for graph related REST resources.

* (the default) will project all properties.

IRI and CURIE will always be projected.

[2015-05-14 23:50] #121 closed

[2015-05-15 00:27] ccondit commented on #115
In combination with the implemented CSV format and the new projection option it should be easy to produce these things with:
scigraph/graph/neighbors/DOID:4.csv?project=curie&relationshipType=subClassOf&direction=INCOMING&depth=10000
or
scigraph/graph/neighbors/GENO:0000000.csv?project=curie&relationshipType=type&direction=INCOMING&depth=10000

[2015-05-15 00:28] #115 closed

[2015-05-15 18:02] #39 closed

[2015-05-18 22:43] kshefchek commented on #92
bump

[2015-05-18 22:48] nlwashington commented on #92
@cmungall, has the monarch.owl import changed to pull from the new ncbigene.ttl on nif-crawler, instead of from our owl disco2turtle dump?

also, should the genes even be in the ontology?  we can have them be part of the vocabulary services without them being loaded into the monarch.owl directly.

[2015-05-18 23:24] cmungall commented on #92
Removed genes import from monarch.owl (someone still needs to run the bamboo that generates http://nif-crawler.neuinfo.org/monarch/owl/)

The ttl on nif-crawler is currently the definitive location, the URLs used there are canonical. So yes, add this to vocab services load.

[2015-05-20 22:02] aguptasd opened #122 "add search by relationship type"
Given a relationship type (a URI) or a label, return all edges satisfying the label. If needed, have an extra parameter to return results in batches.

[2015-05-21 17:54] ccondit commented on #46
This is implemented in a [separate repository](https://github.com/SciGraph/golr-loader).

[2015-05-21 17:55] #46 closed

[2015-05-21 23:45] cmungall commented on #122
Should there be a parameter to include the property hierarchy or other
property axioms? Ie equivalent of isDirect in owapi reasoner Api?

On Wednesday, May 20, 2015, Amarnath Gupta <notifications@github.com> wrote:

[2015-05-22 15:26] Kabenla opened #123 "Pull in axiom annotations"
Sci-graph currently ignores owl:axiom annotations in an ontology. It would be nice if we could add axiom annotations to the edges of the graph.

[2015-05-22 22:57] tgbugs opened #124 "New NIFSTD curie file location and NIFMOL curie not working"
Here is the new location for the NIFSTD curie yaml file:
https://raw.githubusercontent.com/SciCrunch/NIF-Ontology/master/scigraph/nifstd_curie_map.yaml
(will be made public shortly)

Bug:
curie is defined as
'NIFMOL': 'http://ontology.neuinfo.org/NIF/BiomaterialEntities/NIF-Molecule.owl#'
but for some reason it is appearing as null in scigraph
http://matrix.neuinfo.org:9000/scigraph/vocabulary/id/

[2015-05-27 02:11] kshefchek commented on #92
Looks like this is fixed now.

[2015-05-27 03:00] cmungall commented on #92
let's make a behave test and close the ticket!

[2015-05-27 03:40] kshefchek commented on #92
This is a semi related test https://github.com/monarch-initiative/monarch-app/commit/d17735fb8927a0058eceb96425d5dd3780178d4e

We could add a more specific test to check the Curie/ID

[2015-05-28 17:59] ccondit commented on #4
This is resolved with #121.

[2015-05-28 18:00] #4 closed

[2015-05-28 18:01] #50 closed

[2015-05-28 18:56] ccondit commented on #124
CURIES should be unique. That CURIE map has two entries for NIFMOL:
`'NIFMOL': 'http://ontology.neuinfo.org/NIF/BiomaterialEntities/NIF-Molecule.owl#'`
and
`'NIFMOL': 'http://ontology.neuinfo.org/NIF/BiomaterialEntities/NIF-Molecule-Role-Bridge.owl#'`

Only the last one gets used.

[2015-05-28 18:56] #124 closed

[2015-05-29 21:43] #86 closed

[2015-05-30 03:35] tgbugs opened #125 "BatchOwlLoader hangs when loading chebi.owl"
At commit f42574ef50c831b14b4b0e25910bb5985e4718b3 when I try to load http://purl.obolibrary.org/obo/chebi.owl directly from the site or locally BatchOwlLoader hangs and does not finish loading the file. The config file I'm using is as follows:

        graphConfiguration:
            # The location of the graph.
            # If this location does not exist it will be created.
            # Loadi

[2015-06-01 16:57] aguptasd opened #126 "inducedSubgraph"
input: a list of node IDs
output: a subgraph connecting these nodes and none other
optional parameters: an include list and an exclude list for specific edge labels.

[2015-06-01 17:02] aguptasd opened #127 "mergeGraphs"
input: two subgraphs of the same larger graph
output: their merged graph
optional parameter: whether the function should return a flag if the graphs had no overlap

[2015-06-01 18:46] ccondit commented on #125
Are you using the latest from the repo?

[2015-06-01 18:46] #125 closed

[2015-06-01 19:25] tgbugs commented on #125
It was done at HEAD~1. If you can't repro it then it is probably something off on my end. I'll look around and see if I can find the issue. Thanks.

[2015-06-01 21:37] aguptasd commented on #122
For the requirement I was coming from there was no need to include the property hierarchy or other property axioms. However, I do see that it will be useful to have such a parameter.

[2015-06-02 22:57] ccondit commented on #92
Go ahead and close if this is resolved to your satisfaction...

[2015-06-02 23:35] #90 closed

[2015-06-02 23:53] ccondit commented on #120
Resolved on duckworth. Will move to rosie as the release approaches.

[2015-06-02 23:53] #120 closed

[2015-06-03 18:51] ccondit commented on #114
@nlwashington - This call returns genes now. Are they correct?

[2015-06-03 18:57] mellybelly commented on #93
Any chance someone can figure out how to add these?
folks are going to be taking a look next week at the GA4GH meeting.
Maybe @kshefchek can help too as he needs to do same for cancer instance
@nlwashington says maybe since autogenerated not so easy.

[2015-06-03 19:42] ccondit commented on #93
If we hardcode the examples in the Java source they'll apply to all SciGraph deployments, which is not desirable. And because these are controlled by annotations they need to be compile time constants so it's not possible to adjust them with a `ResourceBundle` or some such.

@mellybelly:
Is this for the "dynamic" services or for all services?
Will it suffice to have the text in the documentation t

[2015-06-03 19:50] mellybelly commented on #93
Specifically for the dynamic services, but of course examples are always good, especially for less technical users. Text anywhere on the page would be fine. just want people who are unfamiliar to be able to put in an example in proper format and get back results.

[2015-06-03 21:14] ccondit commented on #93
What about a landing page before loading the documentation that documents the ID spaces and provides examples?

[2015-06-03 21:21] ccondit commented on #67
The currently supported formats are documented here:
https://github.com/SciGraph/SciGraph/wiki/REST-Graph-Formats

It would be easy to add other formats as clients require them. Let's take those as new tickets.

[2015-06-03 21:21] #67 closed

[2015-06-03 21:31] cmungall commented on #123
There might be an argument for unifying all forms of edge reification in SG:

 * OWL2 axiom annotations
 * RDF reification
 * Named graphs, quads
 * Other custom annotation schemes and models, including OBAN, but possibly others

Not quite sure how this would work though. We could duplicate the properties of the reified edge node on the edge itself, but that feels inelegant.

Maybe there is no act

[2015-06-03 21:48] cmungall commented on #93
Not sure if this is an ugly solution, but what about a generic SG call that introspects the curie map, and returns the list of IDspaces/prefixes, plus a random example ID for each prefix?

Another possibility would be to optionally load a bridging ttl or owl file that annotates selected URIs with an isExample annotation property (or this could just be a configuration thing in the yaml), which woul

[2015-06-03 22:09] ccondit commented on #93
In some cases the random ID may not have data for a certain pair of
monarch entities.

This could work but there would still need to be a way to connect this
to swagger-ui

[2015-06-03 22:18] cmungall commented on #93
It would be nice to have things in the swagger-ui... but at the same time, I appreciate that this may be hard. At the end of the day SG is generic, and if the generic docs have to be supplemented with instance-specific docs I think that's acceptable

[2015-06-03 22:19] ccondit commented on #93
The dynamic resources are already instance specific so it would be easy to add some examples to those. But that leaves the rest of the REST documentation lacking.

[2015-06-04 04:28] #92 closed

[2015-06-04 23:26] #109 closed

[2015-06-08 22:27] ccondit opened #128 "Add cache-control support to dynamic resources"
Add cache-control support for dynamic resource (specified in YAML).

[2015-06-08 22:51] #128 closed

[2015-06-09 20:44] ccondit commented on #117
Resolved. Now not including all parent phenotypes.

[2015-06-09 20:44] #117 closed

[2015-06-09 23:09] ccondit commented on #8
This is now blocked by #98. Looks like the latest `neo4j-gremlin` is built with Java 8:

    <dependency>
      <groupId>com.tinkerpop</groupId>
      <artifactId>neo4j-gremlin</artifactId>
      <version>3.0.0.M7</version>
      <exclusions>
        <exclusion>
          <artifactId>neo4j</artifactId>
          <groupId>org.neo4j</groupId>
        </exclusion>
      </exclusions>
    </dependency

[2015-06-09 23:23] ccondit commented on #93
@nlwashington will author a landing page with documentation.

[2015-06-10 16:35] #96 closed

[2015-06-10 23:23] ccondit commented on #122
Does it suffice to have a single parameter that would indicate inclusion of sub / equivalent properties? What should the default be?

[2015-06-19 16:39] #122 closed

[2015-06-19 18:16] ccondit commented on #87
Implemented - see:
http://duckworth.crbs.ucsd.edu:9000/scigraph/dynamic/genotypes/MGI:2663179/phenotypes
and
http://duckworth.crbs.ucsd.edu:9000/scigraph/dynamic/phenotypes/MP:0000540/genotypes

[2015-06-19 18:16] #87 closed

[2015-06-19 20:55] #114 closed

[2015-06-22 22:00] #6 closed

[2015-06-22 22:00] ccondit commented on #6
I believe these issues have all been resolved with subsequent work.

[2015-07-01 18:31] tgbugs opened #129 "graph service direction=in causes internal server error"
The old settings for the direction option are causing 500 errors.
This fails: http://matrix.neuinfo.org:9000/scigraph/graph/neighbors/UBERON_0000955.json?depth=1&relationshipType=BFO_0000050&blankNodes=false&direction=in
This works: http://matrix.neuinfo.org:9000/scigraph/graph/neighbors/UBERON_0000955.json?depth=1&relationshipType=BFO_0000050&blankNodes=false&direction=INCOMING

[2015-07-01 18:39] ccondit commented on #129
`direction=in` is no longer supported. The supported directions are:
`INCOMING`, `OUTGOING`, or `BOTH`

[2015-07-01 18:41] tgbugs commented on #129
Sorry, should have added a question. Is throwing a 500 error expected behaviour when a bad value is passed in?

[2015-07-01 18:43] ccondit commented on #129
Will add validation.

[2015-07-01 18:44] tgbugs commented on #129
Ok, great, thanks!

[2015-07-01 19:26] tgbugs commented on #129
As of c817bdf171c4c96eb313224c31d4a1ef21f734e3 it looks like these are now returning 404 errors which I think is expected behavior. The revision that was giving 500 errors was 3ba76f4ba437d3539f736604dc42316910649d6a, looking at the diffs there seems to have been a change to [GraphService.java](https://github.com/SciGraph/SciGraph/tree/master/SciGraph-services/src/main/java/edu/sdsc/scigraph/servi

[2015-07-01 20:17] ccondit commented on #129
Hmmm. I would think 400 might be a better response.

[2015-07-01 21:41] #129 closed

[2015-07-02 20:24] ccondit commented on #106
Should this happen pre or post reasoning?

[2015-07-02 23:28] cmungall opened #130 "Remove redundant axioms prior to adding to Neo4j"
We sometimes have situations where an ontology will have asserted axioms

 1. `A SubClassOf B`
 2. `A SubClassOf C`

then due to other axioms in the ontology we have an entailed axiom

 3. `B SubClassOf C`

We populate all entailed direct axioms (see #42) so we end up with edges 1, 2 and 3, but 2 is now redundant, so we would like to remove this axiom prior to loading. This will fix the ZP issue m

[2015-07-03 15:42] ccondit commented on #130
owlapi code here: https://goo.gl/NkBC6Q

[2015-07-03 21:23] cmungall commented on #106
post

[2015-07-06 16:42] #130 closed

[2015-07-06 18:31] tgbugs opened #131 "synonyms blacklist/additions"
Hi Chris,
A feature request. One of the things we have trouble doing right now is managing synonyms for search from imported ontologies (that we don't have control over and where upstream usually isn't responsive on the time scale we need). After talking with @jgrethe it seems like SciGraph is probably the best place to add global (and hopefully per-term) blacklists/additions for synonyms so that

[2015-07-06 19:12] tgbugs commented on #131
One additional note. We should be able to manage additions via bridge files, but we have no way to manage removals, so we probably just need the blacklist functionality, and Maryann noted that in many cases we would probably need programmatic (ie pattern matching) functionality.

[2015-07-06 19:57] cmungall commented on #131
What would the OWL representation of a blacklisted synonym look like? You can't do this explicitly (mixing a logical construct like negation with an annotation property), but there is nothing to prevent invention of annotation properties with your own semantics; or this could be an annotation of the existing axiom. E.g.

uberon.owl:
[code]

myProject.owl:

[code]

[2015-07-06 22:47] tgbugs commented on #131
That seems like a reasonable construction. Since we can't really hard code something like that into SciGraph I'm guessing the way to implement this kind of solution in production would be to write a custom cypher in the yaml file to replace whatever is being used for synonym expansion right now.

[2015-07-06 22:53] cmungall commented on #131
I think you could do something like this in a fairly generic way. Just define a new AP (owl:isDeprecated is probably not a good idea). The AP IRI could be specified in the yaml. I can add an AP to RO for this. E.g. isIgnored=true.

A slight variation on this is that instead of making this boolean, we use an anti-slim (the converse of a slim, as in GO slim). You could specify a URL for an HBP anti-

[2015-07-07 17:28] #106 closed

[2015-07-07 23:45] ccondit commented on #123
These class annotation assertions are handled by SciGraph (see the first example here: https://github.com/SciGraph/SciGraph/wiki/Neo4jMapping). We can take @cmungall's comment as a separate ticket when the time comes.

[2015-07-07 23:45] #123 closed

[2015-07-10 23:05] ccondit opened #132 "bnodes should get the anonymous neo4j label"
With or without a declaration these nodes should get an anonymous label.

[2015-07-10 23:10] #132 closed

[2015-07-11 00:26] tgbugs commented on #131
The antislims seem like a better pattern for this. @aguptasd also suggested that we could probably implement blacklists algorithmically with a cypher query that runs post load and adds an annotation property like the one proposed by @cmungall to all terms that match the query. He also mentioned that @ccondit has written other cypher queries that are used post load for monarch, Chris C do you have

[2015-07-11 15:08] ccondit commented on #131
There's an example of adding a cypher resource in the "getting started" configuration:
https://github.com/SciGraph/SciGraph/blob/master/SciGraph-services/src/test/resources/pizzaConfiguration.yaml

[2015-07-15 00:15] cmungall opened #133 "Reconcile two pages on wiki about OWL mapping"
Mine, old, deprecated: https://github.com/SciGraph/SciGraph/wiki/MappingToOWL
New, with images: https://github.com/SciGraph/SciGraph/wiki/Neo4jMapping

The latter should be prime, but should probably be relabeled to make it clear we are talking about OWL mapping

[2015-07-15 23:40] ccondit commented on #133
+1

Perhaps the best option is to move the descriptions into the test ontologies as comments.

@cmungall - would be useful for you to review the ontology unit tests when you have time and verify that expected behavior is tested. Would be nice to augment this with other constructs that are missing, too.

[2015-07-16 17:47] kshefchek opened #134 "Ajax jsonp calls to /graph/neighbors returns different JSON structure"
When writing an ajax call with the client I am expecting back a JSON blob in the BBOP graph format; however, I'm getting a different JSON structure @ccondit suspects it may be serializing the tinkergraph.

For example:

        {"vertices":[{"id":"78968","propertyKeys":["category","http://zfin/definition/source_information",...

Is it possible to add an option to return a specified format or retur

[2015-07-16 18:42] ccondit commented on #134
Added CORS for now. Look into fixing the default JSONP response or removing the JSONP functionality.

[2015-07-16 23:13] kshefchek commented on #134
I am occasionally seeing this error on my client:
Cross-Origin Request Blocked: The Same Origin Policy disallows reading the remote resource at http://geoffrey.crbs.ucsd.edu:9000/scigraph/graph/neighbors/HP:0012638.json?depth=1&blankNodes=false&relationshipType=subClassOf&direction=INCOMING&project=*. (Reason: CORS header 'Access-Control-Allow-Origin' does not match 'http://localhost:8080').

It s

[2015-07-16 23:40] nlwashington opened #135 "consider always adding equivalentClass/sameAs, or as a parameter"
When we do a subClassQuery, we can get many children that are equivalentClass...but these don't show up when doing a query with a depth of 1.  and i think that we can't currently OR relationship types.

To figure out which of the nodes are equivalent/sameAs, we'd have to do an iterative query on the results of the initial query.  OR you'd have to implement the ability to allow the user to submit a

[2015-07-16 23:41] nlwashington commented on #135
tagging @kshefchek @cmungall

[2015-07-17 00:41] cmungall commented on #135
Do I have this right?

Asserted:
[code]

Entailed:
[code]

6+7 may seem unintuitive until you consider that SubClassOf has interpretation subset-or-equal-to. I believe when we materialize inferences in SG we ignore reflexive SubClassOf entailments and only add proper direct entailments (todo: add to docs). Another way of thinking about this is that we only add entailed SubClassOf axioms of depth=1

[2015-07-17 21:47] ccondit commented on #134
Is it some call in particular or it just happens intermittently?

[2015-07-18 00:34] tgbugs opened #136 "broken ontology imports"
New versions of SciGraph now fail to load nif.owl. I have encountered a similar issue with trying to load nif.owl in newer versions of protege using owlapi v4. No remote imports are resolvable by owlapi despite web browsers being able to resolve them.

The change from Ontology -> OntologyIri may be an issue in this commit:
https://github.com/SciGraph/SciGraph/commit/922fac8491e4564a77da32ea1f9daaa

[2015-07-19 18:21] kshefchek commented on #134
I haven't been able to reproduce the issue so it may have been related to being on the OHSU network.  I'll test again on Monday.

[2015-07-20 20:12] ccondit commented on #136
Related to work for #106.

This is caused by a circular import in the nif.owl import chain. `NIF-Chemical` imports `NIF-Molecule` which imports `NIF-Investigation` which imports `NIF-Chemical`. There's nothing wrong with this - just that SciGraph didn't handle this input...

[2015-07-20 20:34] tgbugs commented on #136
Hrm, thanks. I'll look into whether that is also causing the related issues.

[2015-07-20 21:12] ccondit commented on #136
@tgbugs it isn't necessarily a problem to do this - just may not be as manageable as keeping the ontology structure a DAG. SciGraph should handle this correctly now.

[2015-07-20 21:12] #136 closed

[2015-07-20 21:26] ccondit commented on #134
Please reopen if this is still an issue.

[2015-07-20 21:26] #134 closed

[2015-07-20 21:40] cmungall opened #137 "Annotate service does not always find the longest match"
Example:
http://geoffrey.crbs.ucsd.edu:9000/scigraph/graph/OMIM:612555

The label field is

    "Breast-Ovarian Cancer, Familial, Susceptibility To, 2"

When this label is plugged into
http://geoffrey.crbs.ucsd.edu:9000/scigraph/annotations/entities.json?content=Breast-Ovarian%20Cancer,%20Familial,%20Susceptibility%20To,%202&minLength=4&longestOnly=true

It finds a valid but shorter match

When fi

[2015-07-20 21:44] tgbugs commented on #136
Yep, that fixed it. Thanks!

[2015-07-20 23:46] ccondit commented on #137
This is actually just related to the maximum shingle count that the annotation processor will examine. When increased the expected entity is found. There's a performance trade off to inspecting longer sequences of shingles. Would just raising the limit a bit be acceptable?

[2015-07-21 18:22] kshefchek opened #138 "Dynamic ortholog query returning an empty graph"
When using the dynamic ortholog service this query:
http://rosie.crbs.ucsd.edu:9000/scigraph/dynamic/genes/NCBIGene:6469/homologs.json?homolog_id=RO_HOM0000000
used to generate data.  It's possible that there is an issue with handling gene equivalences.  It could also be a data ingest issue, cc @nlwashington

[2015-07-21 20:07] ccondit opened #139 "Refactor bbop.js graph creation into core"
Migrate bbop.js graph creation into core from services s.t. golr-loader can take advantage of it.

[2015-07-21 20:40] #139 closed

[2015-07-21 22:42] tgbugs commented on #131
Following up, if I want to run a cypher query to add annotation properties but not set it up as a cypherResource is there a place in the yaml file that can do that (there doesn't seem to be one in the example)?

[2015-07-21 22:47] ccondit commented on #131
At this point SciGraph is read only (other than the load process). If you want to do this I suggest you load the graph and then run your Cypher query as an out of band process.

This is a good use case for allowing custom post-processing code.

[2015-07-22 01:00] tgbugs commented on #131
Yes, for the time being I can load the graph and then do the query out of band but it would be great to be able to do it all from the graph load yaml file.

[2015-07-23 15:40] cmungall opened #140 "Create a SciGraph dynamic template to replace GO taxon server"
Input: (speciesTaxonomyClass `T`, anyOntologyClass `C`, RelationSet `R`)
Return: true/false  (true if there is a violation)

This is essentially a path check, or a union of two path checks using

 * [RO:0002160](http://purl.obolibrary.org/obo/RO_0002160) ! only in taxon
 * [RO:0002161](http://purl.obolibrary.org/obo/RO_0002161) ! never in taxon

Composed with other OPs

Test 1:

Findall paths star

[2015-07-23 15:59] selewis commented on #140
Happy to test, but I should also commit the taxon lookup code (for
attempting to determine the correct NCBI taxon id). Not a dependency, but
be good to have both available. Later today I hope.

-S

On Thu, Jul 23, 2015 at 8:40 AM, Chris Mungall <notifications@github.com>
wrote:

[2015-07-23 16:30] cmungall commented on #140
Note you can also do reconciliation using SG vocab services, e.g. http://geoffrey.crbs.ucsd.edu:9000/scigraph/vocabulary/term/mammals?limit=20&searchSynonyms=true&searchAbbreviations=false&searchAcronyms=false

[2015-07-23 23:06] cmungall opened #141 "Robustifying multi-import loads"
there is always a non-zero probability that an ontology IRI will not resolve. The loader may want to have strategies for retrying, cacheing etc - but it should always fail fast.

Can you assign to @hdietze to do a code review to verify existing loader?

cc @nlwashington

[2015-07-24 00:38] cmungall opened #142 "Add service call for introspection of load state"
We would like the monarch site to be able to say "service unavailable" if the data is loading, this would require the ability to introspect SG and/or Golr to say "are you ready" with the ability to return with "loading"

@kltm is this something me have in golr already?

[2015-07-24 00:53] kltm commented on #142
GOlr itself is just the standard Solr and quite dump--this is actually accomplished with the help of AmiGO (although not used in production for some reason that I forget).

If the balancing configuration is on and it's not getting a proper response, it will give an error page.

As well, Jenkins jobs are able to create error flags/messages using bundled scripts that allow AmiGO to display various c

[2015-07-24 00:54] cmungall opened #143 "Implement forward chaining reasoner"
Implement a reasoner on top of SciGraph

The input would be rules of the form:

    S1 P1 O1,
    S2 P2 O2,
    ...
    Sn Pn On,
    -->
    Se Pe Oe

(i.e. horn rules using only positive conjunctions between atoms)

Where each argument is either

 1. A variable
 2. A CURIE or literal

For example, transitivity of part_of could be implemented using a rule:

    ?x BFO:0000050 ?y
    ?y BFO:000005

[2015-07-24 03:13] cmungall commented on #143
@balhoff may have opinions on the best way to do this (if he has time...)

[2015-07-25 00:29] cmungall opened #144 "Weighted path"
(**low priority** - moved from wiki where it did not belong)

In some cases massive numbers of paths will be generated. As well as filtering by property type (or chains of property types) we want to be able to weight paths (and abandon paths if they look unpromising?).

This page is for ideas for weighting schemes. E.g. if a node is frequently traversed (e.g. a hub protein in a PPI; OR a generic o

[2015-07-25 23:43] cmungall opened #145 "autocomplete doesn't work on internal delimited strings"
E.g. http://duckworth.crbs.ucsd.edu:9000/scigraph/vocabulary/autocomplete/marie?limit=20&searchSynonyms=true&searchAbbreviations=false&searchAcronyms=false&includeDeprecated=false

expect Charcot-Marie-Tooth

From https://github.com/monarch-initiative/monarch-app/issues/856

[2015-07-27 18:29] ccondit opened #146 "Remove JAXB XML formats from REST responses"
Since no clients are using the XML response (and JSON is preferred) remove the JAXB response formats and associated cruft (ie wrapper list objects that only exist for JAXB).

Also examine the JSONP response processing now that CORS is running.

[2015-07-28 23:49] ccondit commented on #98
Note that XGMML has been removed - the main issue here is the change in list order.

[2015-07-31 20:01] jnguyenx opened #147 "Add CURIE support in SciGraph configuration file"

[2015-07-31 20:39] tgbugs commented on #147
Pretty sure CURIEs are supported in the web services config file, see here:
https://github.com/SciGraph/SciGraph/blob/master/SciGraph-services/configuration.yml#L73

[2015-07-31 23:32] #70 closed

[2015-07-31 23:32] #71 closed

[2015-07-31 23:33] #81 closed

[2015-07-31 23:35] jnguyenx commented on #95
Not standard.

[2015-07-31 23:35] #95 closed

[2015-07-31 23:49] #126 closed

[2015-07-31 23:49] #127 closed

[2015-08-03 17:09] ccondit commented on #147
This ticket is about allowing CURIEs in the configuration file for categories and mapped properties.

[2015-08-04 00:22] #146 closed

[2015-08-04 00:23] ccondit opened #148 "Consider removing JSONP as a response option now that CORS filtering is enabled"
This could be a good opportunity to clean up the REST api implementation to return relevant types instead of objects.

[2015-08-04 00:23] ccondit commented on #146
Moved JSONP thoughts to #148

[2015-08-04 19:50] ccondit opened #149 "Refactor and abstract graph postprocessing"
Graph postprocessing needs to be configurable in the loading configuration and the postprocessors should be dynamically injected at runtime.

[2015-08-04 23:38] ccondit commented on #140
Per @cmungall can test with:
http://geneontology.org/page/download-ontology#go-plus.owl

[2015-08-05 21:35] tgbugs opened #150 "reasoner issues"
When the UBERON partonomy is ingested into scigraph the reasoner appears to make some rather.... amusing inferences: http://kaa.neuinfo.org:9000/scigraph/graph/neighbors/UBERON_0002129?relationshipType=BFO_0000050&direction=INCOMING&depth=1
For example asserting that the 'upper urinary tract' is 'part_of' 'cerebellar cortex.'
This makes it quite hard to use the uberon partonomy from scigraph.
I ha

[2015-08-05 21:37] tgbugs commented on #150
The relevant lines from the graphload yaml are:

    ontologies:
      - url: http://purl.obolibrary.org/obo/uberon.owl
        reasonerConfiguration:
          factory: org.semanticweb.elk.owlapi.ElkReasonerFactory

[2015-08-06 00:17] cmungall commented on #150
No, this is not a known issue. I can confirm that the mistake isn't in uberon, as you have determined yourself via DL queries. See also http://purl.obolibrary.org/obo/UBERON_0011143 - no link to the brain to be found! It would be hard for a link like this to get into uberon, as there are strict spatial disjointness axioms that must be satisfied in order to build a release.

One hypothesis is as fo

[2015-08-06 00:20] cmungall commented on #150
Another avenue to explore would be to see how the underlying Neo4J graph looks. It may be something in the services layer rather than the graph (but this seems unlikely).

There are different ways to explore the graph, I like the neo4j shell: https://github.com/SciGraph/SciGraph/wiki/Using-SciGraph-with-neo4j-shell

[2015-08-06 00:30] cmungall commented on #150
I spoke too soon, will you look at that, urinary tracts in the brain in monarch:

http://datagraph.monarchinitiative.org/graph/neighbors/UBERON_0002129?relationshipType=BFO_0000050&direction=INCOMING&depth=1

that's the sacrificial public server that may be out of date.

The cortex is totally fine in our more recent dev and stage instances:

http://geoffrey.crbs.ucsd.edu:9000/scigraph/graph/neighb

[2015-08-06 00:35] ccondit commented on #150
As an aside if you just specify the reasoner class I don't think anything will be added to the ontology. You can always inspect the logs for:

[code]

to find out how many axioms actually were added.

[2015-08-06 05:34] tgbugs commented on #150
Builds and loads were done today. I rebuilt on the latest scigraph from git (590394d0b1c00072030139df8dfaaeb374903f72) for both matrix and kaa. Both are loading uberon.owl directly from http://purl.obolibrary.org/obo/uberon.owl (matrix via an import in a new version of nif.owl).

[2015-08-06 06:08] tgbugs commented on #150
http://purl.obolibrary.org/obo/uberon/basic.obo loads fine and the problem does not appear: http://kaa.neuinfo.org:3000/scigraph/graph/neighbors/UBERON_0002129?relationshipType=BFO_0000050&direction=INCOMING&depth=1.

This was loaded using the same build of scigraph with the same config files, changing only what ontology file was loaded.

[2015-08-07 01:08] ccondit commented on #150
This was caused by a hash collision. Has been fixed for now.

[2015-08-07 01:08] #150 closed

[2015-08-07 20:45] ccondit opened #151 "Add cypher query resolution resource"
Add a REST resource to resolve a SciGraph extended cypher query to its complete form for debugging purposes.

[2015-08-07 21:32] ccondit commented on #147
Let's raise an exception if the configuration uses a CURIE that doesn't exist in the configuration.

[2015-08-07 23:54] #151 closed

[2015-08-08 16:38] ccondit commented on #141
Still not quit working. See latest build:
https://bamboo.crbs.ucsd.edu/download/MON-SAGL2-JOB1/build_logs/MON-SAGL2-JOB1-71.log

[2015-08-10 18:09] #118 closed

[2015-08-10 21:42] jnguyenx opened #152 "Relationships contain full IRIs, try to encode it to a CURIE"
Now that fragments are removed (for #118) relationship names are complete IRIs. Would be nice to also abbreviate these to CURIEs when possible.

[2015-08-10 22:13] #131 closed

[2015-08-10 22:21] #142 closed

[2015-08-10 22:26] #13 closed

[2015-08-10 22:30] ccondit opened #153 "Add some beautiful documentation"
https://scigraph.github.io/SciGraph/
is not live but should have some content.

[2015-08-10 22:30] #17 closed

[2015-08-10 22:33] #144 closed

[2015-08-11 16:30] #148 closed

[2015-08-11 17:51] #60 closed

[2015-08-11 22:30] #98 closed

[2015-08-13 09:17] cathzwah opened #154 "Release 1.4 coming soon?"
Dear Chris,

For the Neuroinformatic platform of Human Brain Project, we are using SciGraph as ontology service. We have to rebuild the Graph regularly since our ontologies are modified frequently. Currently we have an automated procedure that run periodically to detect changes both in SciGraph and our ontology repos then the script rebuilds the application and database as needed.

Ideally we woul

[2015-08-13 16:37] ccondit commented on #154
Please use: https://github.com/SciGraph/SciGraph/tree/Release-1.4
There should be no breaking API changes introduced in that branch.
1.5 will have some changes in API representation and changes package names.

[2015-08-13 16:37] #154 closed

[2015-08-13 16:59] cathzwah commented on #154
Thanks Chris for creating release branch so quickly!

On Thu, Aug 13, 2015 at 6:37 PM, Chris Condit <notifications@github.com>
wrote:

[2015-08-13 22:44] jnguyenx commented on #140
@cmungall Can you provide several test cases with concrete IRIs please?

[2015-08-13 23:08] cmungall commented on #140
[code]

[2015-08-14 06:51] cathzwah opened #155 "Error when loading ontologies with Release-1.4"
Dear Chris,
when running the command to upload the ontologies with the class `edu.sdsc.scigraph.owlapi.loader.BatchOwlLoader`, I get the exception below.
It seems that there is some dependencies on the next version with the new packages.
Best
Catherine

[code]

[2015-08-14 15:39] tgbugs commented on #155
Hi Catherine,
   The issue is that the file directory structure has been renamed so when you run the batch loader the maven call is now
```mvn exec:java -Dexec.mainClass="io.scigraph.owlapi.loader.BatchOwlLoader" -Dexec.args="-c ../devGraph.yaml"```
instead of
```mvn exec:java -Dexec.mainClass="edu.sdsc.scigraph.owlapi.loader.BatchOwlLoader" -Dexec.args="-c ../devGraph.yaml"```

[2015-08-14 16:35] ccondit commented on #155
Did you build a graph with `master` which your YAML file is still referencing? I'm betting the mapdb instance was built with master but then referenced with Release-1.4. Try deleting the graph directory and reloading.

[2015-08-14 18:12] ccondit opened #156 "Multithread category assignment"
Multithread the assignment of categories to improve loading speed.

[2015-08-18 07:31] cathzwah commented on #155
It solved the problem. Thanks

[2015-08-18 17:12] #155 closed

[2015-08-19 01:07] cmungall commented on #137
It feels like the time taken to annotate a piece of text is much longer now. Opening for investigation. The following text often times out.

An alternative hypothesis is that this has nothing to do with shingles, and is in fact a result of adding genes for multiple species (each gene like 'Hsc70' now matches once for every ortholog)

[code]

[2015-08-19 01:13] cmungall commented on #63
Other alternatives that were discussed for genes:

 * Making the taxon an additional category
    * I'm sure there was a separate issue open about this
    * this could be done entirely on the ontology layer: make classes like 'mouse gene' EquivalentTo 'gene' AND in_taxon SOME 'Mus'; genes would autoclassify here. Add 'mouse gene' to list of categories in scigraph yaml
 * Making the species part o

[2015-08-24 21:06] jnguyenx commented on #140
Implemented and added to the Monarch instance in the meantime.

Next is to deploy a GO SciGraph instance.

[2015-08-24 21:06] #140 closed

[2015-08-26 17:38] jnguyenx commented on #135
@cmungall Can you please provide a small ontology test? Like having 2 cliques and a relation between them?

[2015-09-02 21:05] tgbugs opened #157 "ElkReasonerFactory null pointer exception"
When loading [fma.owl](http://data.bioontology.org/ontologies/FMA/submissions/5/download?apikey=8b5b7825-538d-40e0-9e9e-5ab9274a9aeb) (have to add -Djdk.xml.entityExpansionLimit=99999999) if the following lines are in the graph load yaml file:
    reasonerConfiguration:
      factory: org.semanticweb.elk.owlapi.ElkReasonerFactory

the graph load will fail with a null pointer exception. No reasonin

[2015-09-04 19:06] cmungall commented on #157
Can you post the stack trace?

[2015-09-04 19:38] tgbugs commented on #157
[code]

[2015-09-04 20:08] tgbugs commented on #157
Further investigation seems to suggest that this happens because of this line here:
```at org.semanticweb.elk.owlapi.ElkReasoner.isConsistent(ElkReasoner.java:854)```
fma is probably inconsistent and so it fails. This doesn't happen for nif.owl (for example) because there are no axioms in nif.owl and the reasoner tries to reason only on ontology files specified in the graphload.yaml file and not o

[2015-09-04 20:44] cmungall commented on #157
Aha, desired behavior, though it could do with being more user friendly in its reporting

If an ontology is incoherent (inconsistent or has unsatisfiable classes) then you don't want to use any reasoner inferences (it's like using the output of a calculator if you can convince a calculator that `1+1=3`).

Your options are:

 1. do not use a reasoner in conjunction with FMA. This may not be as bad

[2015-09-04 20:50] tgbugs commented on #157
My concern was less with FMA (we don't need a reasoned version), so that is good. My main concern was the behavior wrt the reasonerConfiguration option which needs to be documented. From this it seems that if a factory is specified it will try to run it but only on the ontology files listed in the yaml file, not on any of their imports and will fail if any one of those files is inconsistent, is th

[2015-09-04 20:55] cmungall commented on #157
I'm less familiar with some of the implementation details, perhaps @jnguyenx knows

[2015-09-04 21:44] jnguyenx commented on #157
I'm not familiar with OwlReasoners, but I think that the reasoner will run on the imports of an import.

The build will fail on the first inconsistency, that's a new behavior.

[2015-09-14 16:29] ykazakov commented on #157
I think this is related to this issue:

https://code.google.com/p/elk-reasoner/issues/detail?id=35

In short: this version of FMA is not a valid OWL 2 ontology (but a valid OWL 1 ontology).
(Is it possible to report this issue to the FMA developers somehow?)

For the future: null pointer exceptions are never the intended behaviour of ELK. If the ontology is inconsistent, ELK throws the OWLInconsis

[2015-09-14 20:00] trapperkeeper commented on #157
OK, so a couple of points here. First, a reasoner will not help you with the FMA. I have gotten one to run successfully before, but it took hours, lots of resources, and gets you nothing.

Second, the entity expansion limit problem is not about the reasoner nor any invalidity in the FMA. It is a know problem with Java and XML (the FMA is in RDF/XML). By default Java places an XML entity expansion

[2015-09-14 20:15] cmungall commented on #157
On 14 Sep 2015, at 13:00, trapperkeeper wrote:

This is not true: this is why Elk has been a game changer. It will
classify FMA is under a second I'll bet.

[2015-09-14 20:26] trapperkeeper commented on #157
Well, OK, the timing was based on all of the reasoners that I have installed. I don't do much with the EL profile, so I'll admit that I can't speak to the timing of EL reasoning. That doesn't change the fact that, due to the lack of necessary and sufficient conditions and the lack of individuals in the FMA, you won't get a lot out of the reasoner. There are domain and range constraints, so one cou

[2015-09-14 23:41] trapperkeeper commented on #157
I should also say, ykazakov is correct, there are still 3 cases of empty objectIntersection in the FMA (I'll fix those). But, I do not believe that they are related to the entityExpansionLimit problem. However, they do cause Elk classification to choke (in 0.4.0).

[2015-09-14 23:45] tgbugs commented on #157
the entityExpansionLimit is unrelated. It is a issue with the java XML parser and occasionally shows up when loading other large ontologies. I included it in the bug report in case that problem prevented someone from reproducing the issues with ELK.

[2015-09-15 17:52] trapperkeeper commented on #157
By the way, I believe you can set an unlimited expansion limit as follows:

System.setProperty("jdk.xml.entityExpansionLimit", "0");

which I assume is the same as adding the jvm command line argument:

-Djdk.xml.entityExpansionLimit=0

[2015-09-25 17:45] kshefchek opened #158 "Support optional parameters when expanding queries from a dynamic service"
In some cases it useful to have optional parameters that could be bound to an identifier when used, or have that line removed when the parameter is not present.  Here is a contrived example:

With an optional parameter variant_id,
When present:
START variant=node:node_auto_index(iri={variant_id})
MATCH (variant)-[hasPhenotype:RO:0002200]->(phenotype:Phenotype)
RETURN variant

When not present:
MAT

[2015-09-30 19:44] cmungall commented on #133
Also add http://j.mp/SciGraph

[2015-10-01 19:45] jmcmurry commented on #135
Are the recent improvements here adequate to close https://github.com/monarch-initiative/monarch-app/issues/895?

[2015-10-01 21:33] jnguyenx commented on #135
There are still some bugs, but they should get fixed with the next graph
load.

In my opinion you can close the monarch-app ticket.

On Thu, Oct 1, 2015 at 12:45 PM, Julie McMurry <notifications@github.com>
wrote:

[2015-10-09 02:14] tgbugs opened #159 "add a /scigraph/vocabulary/curies service"
There is currently a service that shows all the available prefixes at /scigraph/vocabulary/prefixes but it would also be nice to have a service that would return the curies defined for a currently running scigraph instance so you don't have to hunt down the config file (which sometimes might not be accessible). The service path should probably be /scigraph/vocabulary/curies. A nice return format w

[2015-10-12 22:21] nlwashington opened #160 "ensure cliqueLeaders are not deprecated nodes"
Some nodes might have the annotation property of deprecated.  These should never be the assigned to be the cliqueLeader.

[2015-10-12 22:31] nlwashington opened #161 "migrate paths from deprecated nodes"
some nodes may be deprecated, and then replaced by other nodes.  for example:
<pre>
http://www.ncbi.nlm.nih.gov/gene/100188109 a owl:NamedIndividual ;
    rdfs:label "LOC100188109" ;
    OBO:IAO_0100001 http://www.ncbi.nlm.nih.gov/gene/1957 ;
    owl:deprecated "true"^^xsd: .
</pre>

note that NCBIGene:1001888109 is not an equivalentClass to NCBIGene:1957...it is just replaced by (IAO:0100001) it.

[2015-10-15 21:58] cmungall commented on #161
I agree with all the above.

We could also have the replace-by-many check happen as part of the general monarch import chain test, but SG should still be defensive

[2015-10-15 23:43] #135 closed

[2015-10-28 05:53] jmcmurry commented on #130
related to https://github.com/monarch-initiative/monarch-app/issues/777

[2015-10-30 16:39] jmcmurry opened #162 "Fix issues with SciGraph for ID type determinations"
jmcmurry commented

It would be good for me to know if there is an architectural reason that the URLs include the words gene, disease, etc. Does this help with performance or is it just a contextual indication to the human user? I ask because my general preference would be pages that look like monarchinitiative.org/OMIM:PS605552.

If we have bare bones URLs then a separate resolver wouldn't be nec

[2015-10-30 16:42] jmcmurry opened #163 "Give Julie Permission to edit labels for SciGraph tickets please"
@nlwashington @kshefchek  The label options are greyed out for me. Is this due to a permissions issue?

![screen shot 2015-10-30 at 09 40 46](https://cloud.githubusercontent.com/assets/3658863/10851814/67dafc70-7eea-11e5-9000-db9bb000f17d.png)

[2015-10-30 18:16] cmungall commented on #163
invited you to the dev team

[2015-10-30 18:38] kshefchek commented on #162
This shouldn't require any updates to SciGraph;

Fix issues with ID type determination in SciGraph - see https://github.com/monarch-initiative/dipper/issues/221
Benchmark for performance - This should not affect performance as we already call SciGraph for basic information such as label, uri, so we coud get all this information in one call.  Even if we make the call redundantly it should be reason

[2015-10-30 20:58] #156 closed

[2015-10-30 23:09] jmcmurry commented on #163
@cmungall I didn't get an invite? https://github.com/SciGraph/SciGraph/network/members

[2015-10-30 23:18] cmungall commented on #163
Oops.

Invite to random guy canceled. New invite sent out

On 30 Oct 2015, at 16:09, Julie McMurry wrote:

[2015-10-31 00:05] jmcmurry commented on #163
Thanks :)

[2015-10-31 00:05] #163 closed

[2015-11-01 17:28] mellybelly commented on #162
Probably need a different ticket(s), but there are two outcomes that are needed related to this: 1) send OMIM IDs to OMIM asap so that we show up on pages like this: http://omim.org/help/external and on individual disease and gene pages in OMIM; 2) develop generic documentation for how third parties can most easily link to us. Then perform outreach to this effect.

(former related to prior closed

[2015-11-01 17:51] kshefchek commented on #162
@mellybelly added a ticket here: https://github.com/monarch-initiative/impact/issues/39

Closing as the info in this ticket is out of scope for scigraph.  The majority of this ticket is captured here: monarch-initiative/dipper#221, for the rest see https://github.com/SciGraph/SciGraph/issues/162#issuecomment-152612361

[2015-11-01 17:51] #162 closed

[2015-11-18 21:26] Kabenla opened #164 "/vocabulary/term/{term} not searching in Synonyms"
It looks like the /vocabulary/term/{term} endpoint is not looking through synonyms.
In the following example, I have loaded the SNOMED-CT  ontology into my scigraph installation.

Searching for the term "Group A2B" yields no results when using the /vocabulary/term/{term}
https://monosnap.com/file/1jXPx1PrCsFhvmnkM8K9YdIIxP8foZ

However "Group A2B" is a synonym of Blood group A>2<B (finding) which

[2015-11-19 21:32] tgbugs commented on #164
Have you defined SNOMED-CT as a curie in the scigraph graph load yaml file? I can produce this behavior by specifying an invalid curie in the prefix field. Try removing the prefix and see if you get the expected result.

[2015-11-20 06:23] Kabenla commented on #164
Yes SNOMED-CT has been mapped to http://snomed.info/id/ as shown here
https://monosnap.com/file/1BFxIV8pKZozUAsUgBK7qapsyMQyDb.  I removed the
curie from the search in Scigraph but still got no results for Group A2B in
/vocabulary/term/{term}

On Thu, Nov 19, 2015 at 3:32 PM, Tom Gillespie <notifications@github.com>
wrote:

[2015-11-23 19:11] tgbugs commented on #164
Hrm, another possibility: is the annotation property that SNOMED uses for synonyms mapped to synonym in the mappedProperties: section of the yaml file? e.g.
[code]

[2015-12-07 14:52] cmungall opened #165 "Add cypher to swagger docs for dynamic queries"
It would be useful to be transparent about the underlying cypher in /dynamic/ queries

[2015-12-07 16:17] burkesquires opened #166 "Connection timing out"
Hello,

I was using SciGraph, or more precicesly py-SciGraph, to test out some commands last week without any issue. When I try it today I am getting a timeout. Please see below. Perhaps it is an issue with the ucsd.edu server

I cannto reach geoffrey.crbs.ucsd.edu through a browser but crbs.ucsd.edu I can.

Regards,

Burke

!py-SciGraph-master/run-scigr.py ann "the big ears and the hippocampus ne

[2015-12-09 16:29] burkesquires commented on #166
The connection seems to be working again.

[2015-12-10 04:46] cmungall commented on #166
Not sure what the downtime was, sorry about this.

The Monarch SciGraph instance will be switching to new servers with more meaningful URLs early in January.

[2015-12-10 05:55] burkesquires commented on #166
Hi Chris, Thanks for the reply. Glad to see you here. That is great to know that there will be new servers. This is a great tool. Keep up the great work!

[2015-12-10 05:55] #166 closed

[2015-12-11 06:16] Kabenla commented on #164
No, I have not put in that mapping for synonyms.  I will try it to see what
happens.  But if that is the issue, then how does Group A2B  appear as a
synonym?

On Mon, Nov 23, 2015 at 1:11 PM, Tom Gillespie <notifications@github.com>
wrote:

[2016-01-29 01:48] tgbugs opened #169 "/scigraph/vocabulary/autocomplete/{term} should only return once per identifier"
The SciGraph autocomplete service returns multiple completions for the same entity for each synonym.
For example: http://matrix.neuinfo.org:9000/scigraph/vocabulary/autocomplete/diabetes%20m returns 4 completions for DOID:9351.

[2016-02-09 09:30] MFSY opened #170 "Add an endpoint allowing to retrieve entities defined in an ontology"
In addition to the endpoint /scigraph/vocabulary/curies (requested here #159) allowing to retrieve the list of curies in a scigraph instance, it would be nice to have an endpoint allowing to retrieve the list of entities  (classes, instances, ...) defined within a given ontology.
When no specific term is targeted, the combination of these two endpoints gives an entry point for getting all entities

[2016-02-09 17:27] tgbugs commented on #170
You can use scigraph's /scigraph/dynamic api endpoint which can be configured in the services yaml file to accomplish this by selecting triples that match (*, rdf:type, owl:Class). For pagination I think you can use:http://neo4j.com/docs/stable/query-limit.html, http://neo4j.com/docs/stable/query-skip.html but I don't actually know the best practices for pagination using cypher.

[2016-02-09 20:27] jmcmurry commented on #159
+1 @kshefchek and I were talking about this back in November. This is related to other requests we have gotten (eg. from OMIM) so that they can link out to us. That was a one-off effort, but I would like to take this a step further and not just provide a scigraph service, but also a corresponding application page eg. http://monarchinitiative.org/OMIM which would contain a list of the IDs, each hyp

[2016-02-12 21:18] valentinedwv opened #171 "io.scigraph.owlapi.loader.BatchOwlLoader failure"
The process never completes.

Works with an older edu.sdsc branch

[2016-02-12 21:20] valentinedwv commented on #171
[cinergiExample .yml.txt](https://github.com/SciGraph/SciGraph/files/128717/cinergiExample.yml.txt)

[2016-02-12 21:21] valentinedwv commented on #171
[INFO] Scanning for projects...
[INFO]
[INFO] ------------------------------------------------------------------------
[INFO] Building SciGraph - core 1.5-SNAPSHOT
[INFO] ------------------------------------------------------------------------
[INFO]
[INFO] --- exec-maven-plugin:1.4.0:java (default-cli) @ scigraph-core ---
Feb 12, 2016 8:17:56 PM io.scigraph.owlapi.loader.OwlLoaderModule getInsert

[2016-02-12 21:23] valentinedwv commented on #171
[working example using old branch/fork https://github.com/CINERGI/SciGraph ]

mmons-exec/1.3/commons-exec-1.3.jar (54 KB at 2952.6 KB/sec)
==> default: Feb 12, 2016 9:13:58 PM edu.sdsc.scigraph.owlapi.loader.OwlLoaderModule getInserter
==> default: INFO: Getting BatchInserter for /var/scigraph-services/graph
==> default: dbms.pagecache.memory=3G
==> default: dump_configuration=true
==> default: Fe

[2016-02-12 21:37] jnguyenx commented on #171
I think that the error comes from your configuration file, the category Observation maps to an non-existing node. In a previous version only a warning is printed:
WARNING: Failed to locate http://def.seegrid.csiro.au/isotc211/iso19156/2011/observation#Observation while processing categories

whereas now we fail on such case.

Can you try to fix the IRI for this category or remove it?

[2016-02-12 22:09] jnguyenx commented on #171
We also added more relationships to traverse when processing the categories:
https://github.com/SciGraph/SciGraph/blob/master/SciGraph-core/src/main/java/io/scigraph/owlapi/CategoryProcessor.java#L53

So this process might take significantly longer to complete. But it should eventually complete and not hang, like that.
Does the CPU and memory seem to be in usage? Or is it really stalled doing noth

[2016-02-13 01:07] jnguyenx commented on #171
Okay there was a weird concurrency issue when the provided IRI does not exist.
When it is happening, I put it back as a warning, but in the long run I may throw an exception and stop the load.

Thanks for finding that out!

[2016-02-13 01:07] #171 closed

[2016-02-13 01:26] tgbugs commented on #171
I'm still seeing a problem with bad thread synchro at commit 9ad933c. The graph load yaml that causes the problem is [here](https://github.com/SciCrunch/SciGraph/blob/example/exampleGraph.yaml). The problem goes away when I comment out the categories section entirely.

[2016-02-13 01:36] jnguyenx commented on #171
There are a few not found IRI, but the load works for me.

Have you pull and recompiled SciGraph?

[2016-02-13 01:49] tgbugs commented on #171
I had pulled but I forgot to run `mvn clean` which fixed it. Thanks!

[2016-02-22 18:27] atorr commented on #169
I can work on this.

[2016-02-23 00:06] jnguyenx commented on #169
I have a lot on my plate right now, I'll be happy to see a pull request.

On Mon, Feb 22, 2016 at 10:27 AM, Alex Orr <notifications@github.com> wrote:

[2016-02-23 01:01] cmungall commented on #169
Thanks @atorr  - what is the proposed fix? Remember we don't want to break existing clients without good reason.

Ideally this call would support the use case where autocomplete could give some context as to *why* an entity matched.

[2016-02-23 01:27] tgbugs commented on #169
@cmungall we are considering a couple potential fixes. One is to simply drop duplicate matches by adding code to filter [here](https://github.com/SciGraph/SciGraph/blob/master/SciGraph-services/src/main/java/io/scigraph/services/resources/VocabularyService.java#L223). Our clients wouldn't be affected by this change, but if you have a case where they would then we could just add a flag (eg `?includ

[2016-02-24 22:12] atorr commented on #169
@cmungall I am implementing the solution suggested by @tgbugs.  The way I have it now is after the completions are sorted I find completions that have matching curies and then remove them from the list of completions that has been generated previously.  Still trying to test it, so I will give an update when I'm through with that.

[2016-02-24 22:18] tgbugs commented on #169
Another example is http://matrix.neuinfo.org:9000/scigraph/vocabulary/autocomplete/ventral%20post

[2016-02-29 21:35] atorr commented on #159
I can go ahead and work on this.

[2016-03-01 21:45] jnguyenx commented on #159
I'll take care of that since I want to check some other things related to curies, but thanks!

[2016-03-02 00:52] atorr commented on #159
Okay

[2016-03-07 19:52] atorr commented on #159
Hey.  Since I had already started on the issue I went ahead and pushed some code for it.  Let me know if it helps.

[2016-03-08 03:17] jnguyenx commented on #159
Thanks I'll have a look!

On Mon, Mar 7, 2016 at 11:52 AM, Alex Orr <notifications@github.com> wrote:

[2016-03-18 22:55] jnguyenx opened #172 "Migrate to TinkerPop 3.x"
TinkerGraph 2.x is deprecated and no longer maintain.

[2016-03-18 23:48] jnguyenx opened #173 "Write docs on clique merge post-processor"
For now it's an undocumented feature.

[2016-03-28 22:08] atorr commented on #152
Hello.  I went ahead and pushed some code for this issue.  Take a look and see if it's what you guys are looking for.

[2016-04-07 18:51] jnguyenx commented on #159
@atorr I did a similar implementation but I've put the endpoint in a different service than the vocabulary one. I've added it in the /cypher one, as curie can be used in most of the services.

[2016-04-07 18:51] #159 closed

[2016-04-07 19:34] jnguyenx commented on #152
Hi @atorr,

That's not the fix I had in mind: since we're creating a TinkerGraph before pushing data to the client, it makes more sense to add the resolution in the TinkerGraphUtil class. However this class is static and needs to have the object curieUtil passed in.

One way to get around that is to change the methods signature, or convert the class to a non-static one. I personally prefer the lat

[2016-04-07 19:38] jnguyenx opened #174 "Add cypher service to run an arbitrary query"
Will be useful to test out queries and complementary to the resolve cypher service.

Make sure that the queries can't alter the graph.

[2016-04-07 22:38] cmungall commented on #174
And this will include our own extensions - e.g. CURIE and subProperty expansion?

[2016-04-07 22:42] jnguyenx commented on #174
Yes that is the main purpose of this new service.

On Thu, Apr 7, 2016 at 3:38 PM, Chris Mungall <notifications@github.com>
wrote:

[2016-04-08 20:59] cmungall opened #176 "Add edge properties for reified edges"
There various reification vocabs, all have the same structure

 * rdf reification
 * owl reification
 * oban reification

In all cases we have 3 triples that uniquely identify a `(s,p,o)` triple/edge, and then the subject of each of these triples can be the subject of other triples.

Guiding example
https://github.com/geneontology/minerva/blob/master/specs/evidence-model.png

[2016-04-11 19:54] atorr commented on #152
Hi @jnguyenx,

Yeah, it took me a while to figure out that wasn't the required fix heh, but I was able to find the location of the needed fix.  As a temporary solution I provided an overloaded method for addEdge that allows the option of passing in the curieUtil.  I can also look into converting TinkerGraphUtil into a non-static class.

[2016-04-15 16:14] cmungall opened #177 "Add an API that combines autocomplete with arbitrary cypher queries"
Background: The current SciGraph API breaks down functionalities into separate areas: lexical, annotation, graph. This is a useful high level breakdown but frequently we need to combine these. This is one thing the old oboedit tool got right that has never been duplicated in Protege, the ability to combine advanced lexical queries with graph queries (cc @dosumis).

In this particular case, we woul

[2016-04-26 20:28] jnguyenx commented on #174
https://scigraph-data-dev.monarchinitiative.org/scigraph/docs/#!/cypher/execute

There's a 5 minutes timeout to prevent from killer queries to stall SciGraph.

[2016-04-26 20:28] #174 closed

[2016-04-26 20:41] jnguyenx opened #178 "Execute service should return a json"

[2016-04-27 20:06] jnguyenx opened #179 "Migrate to Neo4j 3.x.x"

[2016-05-03 17:48] josecv commented on #179
We're looking at integrating SciGraph into [phenotips](https://github.com/phenotips/phenotips) but we depend on Lucene 5, whereas SciGraph (and Neo4j 2) depend on Lucene 3.3.

Since migrating SciGraph to Lucene 5 would probably first depend on migrating it to Neo4j 3 we're wondering what the outlook is for this particular issue, how complex is it and would we be able to help out?

[2016-05-03 18:41] jnguyenx commented on #179
I haven't looked into it in details yet, but the major issue will be to
adapt to the new APIs. Some calls were deprecated in 2.3.x already (that's
why we were sticking with 2.2.x).

In any case this is a fairly high priority for us. I'll create a branch
soon and we'll have more visibility on the todos.

On Tue, May 3, 2016 at 10:48 AM, josecv <notifications@github.com> wrote:

[2016-05-04 23:07] jnguyenx commented on #178
The Neo4j java API does not provide all the info that the shell does. By converting to JSON we lose a bit of information, especially when the query returns a PATH. (e.g. node label, edge type, etc..).

To combine the best of the two worlds, the execute service can either return a JSON with lossy information:
`https://scigraph-data-dev.monarchinitiative.org/scigraph/cypher/execute.json?cypherQuery=

[2016-05-04 23:07] #178 closed

[2016-05-04 23:46] cmungall commented on #178
can you give an example with something missing - seems mad that the java API is incomplete

[2016-05-06 00:05] jnguyenx commented on #178
I struggled with [PATHs](http://neo4j.com/docs/2.2.8/javadocs/org/neo4j/graphdb/Path.html).

I was using .iterator() instead of .nodes() and .relationships(), so now I managed to fiddle in the missing data!

[2016-05-07 00:01] tgbugs opened #180 "equivalentClass/subClassOf issues"
We have encountered unexpected behavior when dealing with some of our old defined classes.

In the definition of NIFNEURNT:nlx_neuron_nt_090803 [here](https://github.com/SciCrunch/NIF-Ontology/blob/master/ttl/NIF-Neuron-NT-Bridge.ttl#L904) the equivalence statement is sufficient in Protege for  NIFNEURNT:nlx_neuron_nt_090803 to be inferred as subClassOf NIFCELL:sao1417703748. However when looking

[2016-05-07 00:51] cmungall commented on #180
Looks like #135 is the more relevant ticket

What's your configuration - are you using a reasoner?

[2016-05-07 01:04] tgbugs commented on #180
Reasoner is off (havn't gotten nifstd into reasonable state yet). Configuration is essentially as seen here: https://github.com/SciCrunch/NIF-Ontology/blob/master/scigraph/make_yamls.sh

[2016-05-07 02:22] cmungall commented on #180
In that case, this is expected (if undocumented) behavior.

Although in principle we could implement a reasonerless relaxation step,
that is better kept as the preserve of ontology processing and release
tools upstream of scigraph, e.g. robot:
https://github.com/ontodev/robot/issues/7

Even if the ontology is messy, I'd recommend using Elk as part of the SG
load. You can configure SG to drop the d

[2016-05-09 20:14] jnguyenx commented on #180
Additional note: It should not be related to https://github.com/SciGraph/SciGraph/issues/135 as it is only activated when [this configuration type](https://github.com/monarch-initiative/SciGraph-docker-monarch-data/blob/master/src/main/resources/monarchLoadConfiguration.yaml.tmpl#L125) is specified.

[2016-05-13 21:57] tgbugs commented on #180
Adding the reasoner results in the following warning
`WARNING: Not reasoning on Ontology(OntologyID(OntologyIRI(<http://ontology.neuinfo.org/NIF/ttl/nif.ttl>))) [Axioms: 0 Logical Axioms: 0] because it is inconsistent.` so I will indeed need to clean up NIFSTD wrt reasonability before I can resolve this. If the issues persists after the reasoner can run I will reopen. Closing for now.

[2016-05-13 21:57] #180 closed

[2016-05-13 22:02] cmungall commented on #180
There's an option to remove disjointness and domain/range axioms prior to loading. These are usually the cause, and they don't really buy you much at the SciGraph level

[2016-05-13 23:14] tgbugs commented on #180
Do you happen to have the reference for that option on hand, or know where I can look? (I checked the Elk documentation but nothing jumped out at me).

[2016-05-14 00:25] jnguyenx commented on #180
That's should be it:
https://github.com/monarch-initiative/SciGraph-docker-monarch-data/blob/master/src/main/resources/monarchLoadConfiguration.yaml.tmpl#L19

[2016-05-14 00:32] cmungall opened #181 "removeUnsatisfiableClasses option is a misnomer"
From #180

This is a misleading option. It does not remove unsatisfiable classes, it removes axioms that are typically implicated in unsatisfiable classes.

We should change this, but without breaking people's installations. Or at least better document it.

A simpler option name would be removeOwlConstraints

[2016-05-16 17:48] jnguyenx opened #182 "Cannot load sources from https"

[2016-05-16 18:45] cmungall commented on #182
Are you using an up to date owlapi?

This was a previous problem but now fixed, search the owlapi tracker for deets

On 16 May 2016, at 10:48, Jeremy wrote:

[2016-05-16 20:36] jnguyenx commented on #182
Indeed we're behind:
net.sourceforge.owlapi:owlapi-distribution ............ 3.5.1 -> 5.0.2

I'll check that in details later on.

Thanks!

On Mon, May 16, 2016 at 11:45 AM, Chris Mungall <notifications@github.com>
wrote:

[2016-05-16 20:48] cmungall commented on #182
5.x may be a big leap. @hdietze @jamesaoverton and I are only now
switching to 4x. @balhoff what do you use

On 16 May 2016, at 13:36, Jeremy wrote:

[2016-05-16 20:51] balhoff commented on #182
Just barely starting switch to 4.x.

[2016-05-17 17:21] tgbugs commented on #170
@atorr
Could you add an offset using the `SKIP` cypher keyword [here](http://neo4j.com/docs/stable/query-skip.html) please (will need to include orderby). The rest API should use offset as the parameter name to match the other endpoints.

Could you also add another endpoint that returns all nodes with limit and offset but not filtered by curie? The arbitrary cypher execution endpoint seems like it

[2016-05-18 17:13] atorr commented on #170
Sure thing.

[2016-05-18 17:22] atorr commented on #170
@tgbugs
For the endpoint that doesn't filter by curie should the query still specify to order the nodes by curie?  If not, what should I order them by?

[2016-05-18 18:12] atorr commented on #170
@tgbugs
I pushed the changes to my branch.  The offset parameter seems to be working.  For the endpoint where I don't filter by curie I still have it ordered by curie for the skip.  Let me know if this all checks out.

[2016-06-02 13:22] DoctorBud commented on #177
Another use case for this capability is in the ObOne browser experiment that Mark P and I have been working with. Specifically, we are currently using the `/graph/neighbors` endpoint to get all neighbors of distance 1 from the currently active node. However, this endpoint has no ability to have paged results (e.g., `count`, `startIndex` and `limit` parameters). It would be nice to be able to give

[2016-06-08 03:06] cmungall opened #183 "annotate services sometimes fails to find exact matches"
See for example:

https://monarchinitiative.org/annotate/text?q=hypoplasia+of+the+radius%2C%0D%0Amicrophthalmia%2C%0D%0Aabsent+floor+plate%2C%0D%0Adecreased+keratinocyte+proliferation%2C%0D%0Aabnormal+semicircular+canal+morphology%2C%0D%0Aabnormal+retinal+ganglion+cell+morphology%2C%0D%0Aabnormal+tail+development%2C%0D%0Aembryonic+growth+retardation%2C%0D%0Adisorganized+retinal+outer+plexiform+lay

[2016-06-09 19:35] cmungall commented on #177
On 2 Jun 2016, at 6:22, Dan Keith wrote:

sounds like it would be useful to have this

I'm not really sure about the utility of this, as to do anything useful
that isn't hardcoded to any one use case you'd need the full power of a
query language like cypher

But for the text filtering case, you could piggy back this off the
autocomplete call, but that feels an odd mixing of concerns

[2016-06-17 22:05] jnguyenx opened #184 "Swagger input does not accept IRIs"
Check why it accepts only CURIEs at the moment.

[2016-06-17 22:10] jnguyenx commented on #179
Pending on https://github.com/neo4j/neo4j/issues/7204

[2016-06-22 17:58] jnguyenx opened #185 "Neighbor service gets slow with complex hierarchy"

[2016-06-28 21:15] #185 closed

[2016-06-29 18:18] jnguyenx opened #186 "Update owlapi to 2.x.x"

[2016-06-29 18:25] tgbugs commented on #186
It looks like 2.x.x a typo for 4.x.x?

[2016-06-29 18:31] jnguyenx commented on #186
Yes :smiley:

[2016-07-01 21:36] jnguyenx opened #187 "Extract clique merge node batch commit into a configuration"

[2016-07-08 17:43] mbrush opened #188 "Request for labels on edges"
Not critical, but it would be nice to be able to return the rdfs labels of edges in cypher queries. For example, to return the label 'in taxon' for the object property http://purl.obolibrary.org/obo/RO_0002162 by using "RETURN property.label".  At present, all i can return for an edge such as this is its IRI.

As I said, this is just a convenience so I can see the name of the edges when I am query

[2016-07-11 21:15] valentinedwv opened #189 "Well not found in lexical"
"This is a log from an Oil and Gas Well in Texas"

http://ec-scigraph.sdsc.edu:9000/scigraph/lexical/chunks?text=This+is+a+log+from+an+Oil+and+Gas+Well+in+texas

http://kato.crbs.ucsd.edu:9000/scigraph/lexical/entities?text=This+is+a+log+from+an+Oil+and+Gas+Well+in+texas

Returns
`
[
  {
    "token": "This",
    "end": 4,
    "start": 0
  },
  {
    "token": "is",
    "end": 7,
    "start": 5
  },

[2016-07-11 21:18] valentinedwv commented on #189
Also indefinite articles eg 'a' and 'an' identified in  lexical chunks
[code]

[2016-07-11 21:25] tgbugs commented on #189
Looks like ec and kato are producing different tokenizations as well.

[2016-07-11 21:34] tgbugs commented on #189
The issue appears to come from SciGraph-entity/src/main/java/io/scigraph/lexical/LexicalLibOpenNlpImpl.java, but looking through that it would seem that the issue is actually in opennlp SciGraph-entity/src/main/java/io/scigraph/opennlp/OpenNlpModule.java and points to the bin files here: SciGraph-entity/src/main/resources/opennlp/.

[2016-07-19 18:23] cmungall opened #190 "Add description of mapping of annotation properties to FAQ"
https://github.com/SciGraph/SciGraph/wiki/Neo4jMapping has a good description of mapping of logical axioms

However, there is no description of mapping of non-logical axioms (annotation assertions, axiom annotations)

In particular, SciGraph has 3 builtin properties

 * label
 * synonyms
 * definition

It is up to the configuration manager to decide how to map these. This is useful: different onto

[2016-07-19 19:37] jnguyenx opened #191 "Try Neo4J Schema indexes"
They should provide better performance when querying.

[2016-07-27 18:02] jnguyenx commented on #179
@josecv sorry it's taking so long, I'm still stuck with the issue of multiple LogEntry versions. Still waiting for the Neo4j team to come back to me.

With that said, there were some graph loads which randomly succeeded, so you might want to give a try with this branch and see what happens for you.

[2016-08-11 18:24] jnguyenx commented on #173
Placeholder here: https://github.com/SciGraph/SciGraph/wiki/Post-processors#clique-merge

[2016-08-11 18:35] jnguyenx opened #192 "Push jars to Maven central"

[2016-08-17 18:38] jnguyenx commented on #173
And also the cypher extensions: !

[2016-08-19 00:22] kshefchek opened #193 "Cypher service, queries with "null" in the results return 500 error"
For the cypher service, queries that have "nulls" return a 500 error, for example:
[This works](https://scigraph-data.monarchinitiative.org/scigraph/cypher/execute?cypherQuery=++++++++START+gene+%3D+node%3Anode_auto_index%28iri%3D%27http%3A%2F%2Fwww.ncbi.nlm.nih.gov%2Fgene%2F7145%27%29+++++++++MATCH+%28gene%29-%5Brel%3ARO%3AHOM0000017%7CRO%3AHOM0000020%5D-%28ortholog%29%3C-%5B%3AGENO%3A0000408%21%

[2016-08-19 19:22] tgbugs opened #194 "swagger api-docs cypher/curies missing return type"
http://matrix.neuinfo.org:9000/scigraph/api-docs/cypher

The entry for `"/cypher/curies"` -> `operations` -> first operation definition object is missing the `"type"` key, every other operation defines this return type under that key and it will break parses and force them to create a special case. Even if there isn't a model for the return type the key should probably still be defined.

[2016-09-02 07:13] cmungall opened #195 "Add option to descendants query to filter based on ontology & other criteria"
Restrict based on criteria such as URI/CURIE prefix, subsets, etc.

The use case here is to have MP, HP specific views, see:

https://github.com/obophenotype/upheno/issues/171

[2016-11-14 23:40] jnguyenx opened #197 "Exceptions are tests teardown"
It does not fail or unvalidate the tests. Worth fixing it though:

`Exception in thread "Thread-330" org.neo4j.kernel.lifecycle.LifecycleException: Failed to transition component 'org.neo4j.kernel.NeoStoreDataSource$6@1215b924' from STOPPED to SHUTTING_DOWN. Please see attached cause exception
	at org.neo4j.kernel.lifecycle.LifeSupport$LifecycleInstance.shutdown(LifeSupport.java:497)
	at org.neo4j

[2016-11-14 23:51] jnguyenx commented on #179
Migrated to Neo4j 3.0.7 (Nov 02, 2016).

[2016-11-14 23:51] #179 closed

[2016-11-15 00:56] jnguyenx commented on #187
Default is at 100.

[2016-11-15 00:56] #187 closed

[2016-11-16 23:02] jnguyenx commented on #173
https://github.com/SciGraph/SciGraph/wiki/Cypher-language-extension
https://github.com/SciGraph/SciGraph/wiki/Post-processors

[2016-11-16 23:02] #173 closed

[2016-11-23 21:50] jnguyenx commented on #188
@mbrush I did some tests and it's totally feasible to add those in the graph.

Just one question, for owl edges such as subClassOf, subPropertyOf, etc.. they don't have labels but we can use their types as label. Does it make sense that way? For example in the graph we would have:
`:isDefinedBy[14288]{label:"isDefinedBy"}`

[2016-11-23 22:27] jnguyenx opened #198 "Do not keep transaction logs when loading the graph"
http://neo4j.com/docs/stable/configuration-logical-logs.html

Those logs take a lot of disk space and are not necessary to keep as our graph is stable over time.

[code]

[2016-11-28 19:49] mbrush commented on #188
I think that  is fine, but can you clarify what you mean by the 'type' of the property?  My scigraph/cypher is rusty and I don't follow what the 'type' is in your example above.

Also, I suspect that most properties/edges that don't have an rdfs:label in our ontologies will have a non-numeric IRI that will tell me what the property means without having to look it up.  (e.g. rdfs:subClassOf is the

[2016-12-09 02:04] jnguyenx commented on #141
At the moment we use the [ExecutorService#shutdownNow()](https://docs.oracle.com/javase/7/docs/api/java/util/concurrent/ExecutorService.html#shutdownNow()) which works on best effort and doesn't guarantee an immediate interruption of the Threads. But the load will eventually fail on an error.

For an immediate failure we'll need to come up with our own solution, for example polling from each Threa

[2016-12-09 02:04] #141 closed

[2016-12-09 19:35] jnguyenx commented on #147
I didn't find a way to identify a string as an IRI or CURIE. The IRI rfc does not say explicitly that an IRI has to start with `http`. The best we can do is what we have right now in my opinion, try to expand a potential CURIE and leave it as is when no conversion is found.

[2016-12-09 19:35] #147 closed

[2016-12-09 22:11] jnguyenx commented on #147
You can't have forward slashes in curies?

On Fri, Dec 9, 2016 at 1:24 PM, Julie McMurry <notifications@github.com>
wrote:

[2016-12-14 23:33] jnguyenx commented on #188
https://github.com/SciGraph/SciGraph/wiki/Post-processors#edge-labeler

Labels will be available in the next SciGraph monarch load.

[2016-12-14 23:33] #188 closed

[2016-12-19 23:26] #198 closed

[2017-01-09 16:54] cmungall commented on #192
If we can't use io.scigraph, what about com.github.scigraph

[2017-01-10 00:42] cmungall opened #200 "Add graph/cbd/{id} route for concise bounded descriptions"
The call should implement this:

https://www.w3.org/Submission/CBD/

[2017-01-10 23:23] cmungall opened #201 "Add a route that implements simple traversals"
`/graph/reachable_from/{id}`

arguments: list of OPs, interpreted as a chain (required)

alternatively, make this optional, but have some kind of bound checking to stop killer queries

Would make this code simpler:

https://github.com/monarch-initiative/biolink-api/blob/d35110b8a6193cfa924e22e8c13c4cd4c5aa6135/scigraph/scigraph_util.py#L159-L161

logic here:

https://github.com/monarch-initiative/

[2017-01-11 20:17] cmungall opened #202 "/graph/neighbors/ should have option to include inferences over SubPropertyOf"
i.e. the equivalent of `:REL!` in SciGraph-Cypher

Test query. This is empty:

https://scigraph-ontology.monarchinitiative.org/scigraph/graph/neighbors/GO:0000035?depth=1&blankNodes=false&relationshipType=http%3A%2F%2Fpurl.obolibrary.org%2Fobo%2FRO_0000057&direction=BOTH&project=%2A

It should find the edges involving the more specific http://purl.obolibrary.org/obo/RO_0002233

[2017-01-11 20:30] cmungall opened #203 "Graph operations should include option to infer over equivalent classes"
User should be able to specify 'use equivalent classes'

If this is checked, then the operation is performed on all clique members, and the resulting graph combined. An additional option could be provided for merging the source clique.

E.g. given

[code]

Where `->` is SubClassOf

A query for neighbors depth 2 for SubClassOf for A would return the entire graph

[2017-01-11 20:46] tgbugs commented on #203
+1 on this, we have a number of use cases where this features would be immediately useful.

[2017-01-11 20:50] tgbugs commented on #202
We are building a hierarchy of phenotype predicates ([here](https://github.com/SciCrunch/NIF-Ontology/blob/neurons/ttl/NIF-Neuron-Phenotype.ttl#L42)) for handling neuron types and this would make it much easier to extract all the phenotypes associated with a neuron. I will add a test query when we have one.

[2017-01-11 22:08] dosumis commented on #202
Inferences over subproperties in SciGraph would certainly be useful.

Some of these seem very close to the [Relations we defined in RO](https://academic.oup.com/bioinformatics/article-abstract/28/9/1262/311581/A-strategy-for-building-neuroanatomy-ontologies?redirectedFrom=fulltext)), used in VFB.  Would be good to integrate them.

[2017-01-11 22:57] cmungall commented on #202
EquivalentProperty axiom bridge would be great (also if you want to use the RO URIs directly and want to jointly curate we can explore this)

[2017-01-12 01:02] tgbugs commented on #202
I have been putting those together based on our narrower use cases with the intention of later going through and mapping/replacing them with existing RO identifiers where appropriate, so when that comes time, definitely interested and will ping back.

[2017-01-12 01:35] cmungall commented on #202
Fanstastic! Thanks Tom!

[2017-01-12 01:36] cmungall commented on #200
Note: will assign this one to Eric

[2017-01-12 01:37] cmungall commented on #200
Dumb python wrapper. Once this SciGraph ticket is implemented and deployed, change this code to use the direct call.

[2017-01-17 18:02] cmungall opened #204 "Register SciGraph API with smart API"
For context see: https://github.com/monarch-initiative/biolink-api/issues/22

[2017-01-17 19:30] jmcmurry commented on #204
+1

[2017-01-17 23:50] jnguyenx commented on #191
Nice recap of the different indexes:
http://blog.armbruster-it.de/2013/12/indexing-in-neo4j-an-overview/

[2017-01-20 19:07] jnguyenx commented on #184
It happens only with services which take arguments directly in the URL vs as parameters. The request is not encoded and we end up with weird URL as https://scigraph-data-dev.monarchinitiative.org/scigraph/graph/http:/purl.obolibrary.org/obo/GO_0000035?project=%2A

[2017-01-21 00:19] cmungall commented on #176
See also https://github.com/SciGraph/golr-loader/issues/25

[2017-01-21 07:12] jnguyenx commented on #202
I added the same syntax as used in SciGraph-cypher, the ! sign.
https://scigraph-ontology-dev.monarchinitiative.org/scigraph/graph/neighbors/GO:0000035?depth=1&blankNodes=false&relationshipType=http%3A%2F%2Fpurl.obolibrary.org%2Fobo%2FRO_0000057!&direction=BOTH&project=%2A

For some reason the edge type was only accepting IRIs, now it accepts also CURIEs.
https://scigraph-ontology-dev.monarchiniti

[2017-01-21 23:27] cmungall commented on #202
I think it's cleaner to have this as a separate boolean property?

[2017-01-23 23:38] jnguyenx commented on #202
Done!

https://scigraph-ontology-dev.monarchinitiative.org/scigraph/graph/neighbors/GO:0000035?depth=1&blankNodes=false&relationshipType=RO:0000057&direction=BOTH&project=%2A

[2017-01-23 23:38] #202 closed

[2017-01-24 01:08] jnguyenx commented on #203
@cmungall Can you provide a concrete example? With the clique merge we shouldn't have this issue, since all the edges are moved to the leaders.

[2017-01-25 18:32] jnguyenx opened #205 "Use https://github.com/prefixcommons/curie-util"

[2017-01-27 19:57] cmungall commented on #203
unassigning @jnguyenx as it turns out this is not a requirement for monarch as we merge cliques up-front

[2017-02-01 00:05] jnguyenx commented on #184
Only swagger-ui was updated.

[2017-02-01 00:05] #184 closed

[2017-02-01 01:05] jnguyenx opened #206 "Update swagger-core"
This is tricky to do as the swagger json has changed format. Before the path `/api-docs` gave a list of paths to get the swagger json. For example `/api-docs/serviceA`.
In the new swagger json format, the whole json is at `/swagger.json`.

It means that the the `/dynamic` service generator needs to be totally refactored to enrigh the `swagger.json`.

The official dropwizard swagger integration can

[2017-02-01 22:21] cmungall opened #207 "subsets are not loaded"
E.g. https://scigraph-ontology.monarchinitiative.org/scigraph/graph/HP:0100594

Should be in hpo_core

E.g.

https://scigraph-ontology.monarchinitiative.org/scigraph/graph/GO:0000003

should be

[code]

At the least, arbitrary annotation assertions should be loaded as node properties

We may also want subset to be a first class property like synonym

[2017-02-09 20:30] jnguyenx commented on #204
Blocked by https://github.com/SciGraph/SciGraph/issues/206 for the moment.

[2017-02-13 17:36] kshefchek opened #209 "Allow full iris to be labelled as anonymous in neo4j as a configuration"
Some users may use full iri's to represent blank/anonymous nodes, see
https://www.w3.org/TR/rdf11-concepts/#section-skolemization

For example a base iri representing a bnode could be:
http://example.com/.well-known/genid/{id}

Could we make this configurable for scigraph?

[2017-02-23 00:57] jnguyenx opened #212 "EvidenceAspect - rename has_object_property to has_predicate"
In our association model, has_object_property has be renamed to has_predicate.

[2017-02-23 01:06] kshefchek commented on #212
+1

[2017-02-24 21:56] #212 closed

[2017-02-27 15:13] jnguyenx opened #215 "Allow post-processors ordering"
For now the order is defined in the code. Since we are starting to have more post-processors, the order to run them should be derived from the yaml configuration file.

[2017-03-02 21:52] #191 closed

[2017-03-02 21:54] jnguyenx commented on #191
Added an example in the pizza configuration file:
https://github.com/SciGraph/SciGraph/blob/master/SciGraph-core/src/test/resources/pizzaExample.yaml#L13

[2017-03-06 21:47] cmungall opened #216 "Provide a route that returns metadata on all loaded sources"
Similar to https://github.com/monarch-initiative/owlsim-v3/issues/43

There are two ways metadata is typically attached to a source that is loaded.

Any OWLOntology can have any number of OWLAnnotations on the ontology. Additionally, the set of ontologies in the imports closure can have their own annotations.

It looks like we lose this when SciGraph is loaded using the OWLAPI, based on tests: htt

[2017-03-06 23:08] TomConlin commented on #216
I think the foo_dataset.ttl are all valid RDF at this point, or at least they parse as such now.
We should take a look at https://www.w3.org/TR/hcls-dataset/  and  make sure they are actually consistent with the the standard.

[2017-03-07 22:40] cmungall opened #217 "SciGraph OWL translator should be robust in the face of odd nested expressions"
We suspect this is causing issues in the loader:

https://github.com/information-artifact-ontology/IAO/issues/196#issuecomment-284882676

I will write a test case. @jnguyenx will implement.

Note that it's fine to toss out the axioms if they don't fit a standard profile. We could look into a general OWL transform that simplifies axioms and eliminates tautologies, but it's simpler to document that

[2017-03-08 01:17] #217 closed

[2017-03-09 22:13] cmungall commented on #201
We also need a route that allows a union of properties to be specified.

So perhaps 3 routes:

 1. one for chain of atomic properties (with global option to include inferred subproperties)
 2. one for union of atomic properties
 3. one for arbitrary scigraph cypher expressions

3 would subsume 1 and 2, but 1 and 2 would be useful in provide a simple interface where the argument is a list or chain

[2017-03-13 20:26] #205 closed

[2017-03-14 18:23] #152 closed

[2017-03-14 18:33] jnguyenx opened #219 "Update dropwizard version"

[2017-03-14 20:11] jnguyenx commented on #209
https://github.com/SciGraph/SciGraph/wiki/Post-processors#anonymous-node-tagger

[2017-03-14 20:11] #209 closed

[2017-03-29 02:19] jnguyenx commented on #206
I suspect that it is related:
Currently multi-arguments fields do not pass the parameters correctly. Instead of `param=1&param=2` it passes `param=1,2`.
Check once we have upgraded swagger-core.

[2017-03-29 02:53] jnguyenx opened #220 "Upgrade to curie-util 0.0.2"
Only has support for Java 8.

[2017-03-29 02:56] jnguyenx commented on #201
Note that I dropped Java 7 support. We'll have to make the move anyway for https://github.com/SciGraph/SciGraph/issues/220.

[2017-03-29 03:06] jnguyenx opened #221 "Add find cliqueLeader service under the graph API"
Since cliquemerge is totally part of SciGraph, it makes sense to add this handy function.

[2017-03-29 03:15] jnguyenx commented on #201
@cmungall can you give it a try? I went with 3 first, and we'll see if we need 1 and 2.

https://scigraph-data-dev.monarchinitiative.org/scigraph/docs/#!/graph/reachableFrom
Don't use the form if you enter multiple arguments, there's a problem with swagger. Issue tracked here: https://github.com/SciGraph/SciGraph/issues/206

[2017-04-10 20:58] #219 closed

[2017-04-14 22:08] #201 closed

[2017-04-14 22:10] jnguyenx commented on #182
I think that it was a JVM certificate issue, now it loads fine with
[code]

[2017-04-14 22:10] #182 closed

[2017-04-26 18:49] jnguyenx opened #224 "Materialize given queries in the graph"
@mbrush @benwbooth @kshefchek @cmungall

The background https://github.com/monarch-initiative/monarch-cypher-queries/issues/7

The idea is to have a step after the graph load, that would take cypher queries from the user's configuration and materialize edges into the graph. The user would provide the cypher queries and the relationship type to materialize.

A fictional example:
[code]

After mater

[2017-05-19 02:20] Kabenla opened #227 "Regular expressions with variables in cypher queries"
Is it possible to do something like
 query: |
            MATCH (n)
            where n.label =~ .\*{term}.\*
            RETURN distinct n

Where {term} is a variable in the run configuration yaml file?

[2017-05-19 15:14] cmungall commented on #227
Hi @Kablena - SciGraph is intended as a layer over Neo4J (although it does allow pass-through of cypher queries). Your question is about general cypher queries and might be best found on Neo4J lists/stackoverflow etc.

If you are using SciGraph services, paths such as https://scigraph-ontology.monarchinitiative.org/scigraph/docs/#!/vocabulary/searchByTerm will utilize lucene in searches, which sat

[2017-05-19 15:30] Kabenla commented on #227
Hi, thanks for gettign back.  It is not critical that we have the regular expressions.  I used CONTAINS instead and it works pretty well.  I will close issue

[2017-05-19 16:05] kshefchek commented on #227
@Kabenla is the issue that regular expressions do now work in the dynamic services portion of the run config yaml?

[2017-05-19 16:08] Kabenla commented on #227
Yes that is the issue.  The application exceptions when I attempt to use regular expressions.

[2017-05-19 16:22] kshefchek commented on #220
Fixed with https://github.com/SciGraph/SciGraph/pull/223

[2017-05-19 16:23] #220 closed

[2017-05-22 22:29] #206 closed

[2017-05-24 23:27] goodb opened #228 "dynamic/evidence 500"
request:
https://scigraph-data.monarchinitiative.org/scigraph/dynamic/evidence/HP%3A0011014/HP%3A0000118?evidence_code=ECO%3A0000204

response
{
  "code": 500,
  "message": "There was an error processing your request. It has been logged (ID 8368d28a701a58b7)."
}

[2017-05-24 23:28] goodb opened #229 "dynamic/shortest 500"
request
https://scigraph-data.monarchinitiative.org/scigraph/dynamic/shortest?start_id=HP%3A0011014&end_id=HP%3A0000118&max_depth=1

response
{
  "code": 500,
  "message": "There was an error processing your request. It has been logged (ID e97fa0aef407dbfa)."
}

[2017-05-24 23:52] cmungall commented on #228
@benwbooth I know you're not familiar with this part of the code but can you see if there's something obvious here. Also the error ID is not very useful if we don't know what to do with it...

[2017-05-25 22:54] cmungall opened #230 "Proposal: publish client libraries"
Now we are at swagger2, it should be easy to publish libraries for clients - at least python and java and javascript - using swagger-codegen. These would also be on pypi/npm/maven.

Of course, this would carry the responsibility of updating these when the API changes.

There is also the issue of dynamic services. These are installation specific. I suggest to avoid confusion we use `scigraph` as th

[2017-05-31 06:27] cmungall opened #231 "entail"

[2017-05-31 06:27] #231 closed

[2017-05-31 06:32] cmungall commented on #135
Reopening.

This does not return anything:

https://scigraph-data.monarchinitiative.org/scigraph/graph/neighbors/HGNC%3A6081?depth=1&blankNodes=false&relationshipType=RO%3A0002205&direction=OUTGOING&entail=true&project=*

This does:

https://scigraph-data.monarchinitiative.org/scigraph/graph/neighbors/NCBIGene:3630?depth=1&blankNodes=false&relationshipType=RO%3A0002205&direction=OUTGOING&entail=tr

[2017-06-14 19:30] cmungall opened #232 "Add graphql endpoint"
https://neo4j.com/developer/graphql/

Not clear if there would be an advantage of doing this at the scigraph layer, but worth investigating

[2017-06-15 00:31] cmungall opened #233 "Direction is ignored if relationshipType not specified"
This returns both ancestors and direct children:

https://scigraph-ontology.monarchinitiative.org/scigraph/graph/neighbors/PATO%3A0000051?blankNodes=false&direction=OUTGOING

This returns both parents and children:

https://scigraph-ontology.monarchinitiative.org/scigraph/graph/neighbors/PATO%3A0000051?blankNodes=false&distance=1&direction=OUTGOING

In both cases, the direction is being ignored.

[2017-06-15 00:56] cmungall opened #234 "Add subgraph route"
`/subgraph/'

 * params: ID list
 * relationshipTypes

Return a graph that contains all nodes in list, plus any edges that directly connect any two nodes in the list

[2017-06-15 16:49] cmungall commented on #234
Also, the option of extending the seed node set incoming or outgoing, same args as /neighbors/

[2017-06-20 01:03] cmungall opened #235 "Add loader junit tests for when different sources provide the same nodes or edges"
When loading multiple RDF files into a triplestore, the semantics are clear. No complex merging behavior is specified - triples are atomic/immutable.

This is presumably not the case when loading RDF into Neo4J. We should document the procedure.

Presumably when a ttl file is loaded, if existing nodes are encountered then properties are merged in. And if existing edges are encountered, duplicate e

[2017-06-30 21:20] kshefchek opened #236 "Miscategorizing and new edges to owl:Nothing"
In our last SciGraph load I noticed that owl:Nothing is a direct subClass of all leaf nodes in our ontologies, meaning it also gets labelled with every category in our configuration, for example:

https://scigraph-ontology-dev.monarchinitiative.org/scigraph/graph/neighbors/HP%3A0002527?depth=1&relationshipType=subClassOf&direction=INCOMING

If this is logically correct we can work around it, but i

[2017-06-30 21:31] cmungall commented on #236
For a full explanation see

https://github.com/geneontology/amigo/issues/428

[2017-06-30 21:41] kshefchek commented on #236
Okay great, I'll fix when generating monarch.owl level will owltools.

[2017-06-30 22:14] cmungall commented on #236
I think the fix may have to be at the scigraph level.

If the ontology has unsatisfiable classes, the materialization of owl:Nothing may be hard to avoid (of course, we should have better ontology QC but this is hard, multiple async releases).

If there are no unsats then there should be no classes that explicitly reference Nothing, so it may not surface at the API level, but I'm not sure this is

[2017-07-03 19:07] kshefchek commented on #236
I believe this is happening when performing EL reasoning, since I can't find these in monarch-merged.owl.  We could add a setting at the reasoning step, this seems like a hack but a little less hacky then checking every axiom at load time.  For example:

reasonerConfiguration:
      factory: org.semanticweb.elk.owlapi.ElkReasonerFactory
      addDirectInferredEdges: true
      addInferredEquivalen

[2017-07-06 22:57] cmungall opened #239 "Add routes for performing a traversal on sets of identifiers"
Related to #234

Given a starting set of nodes (e.g. a list of human gene IDs), perform a traversal (e.g. gene->protein) on all, and return the resulting graph.

[2017-07-07 18:03] kshefchek commented on #236
@cmungall would you be able to create a small ontology that would allow me to test this?  For example:
https://github.com/SciGraph/SciGraph/blob/master/SciGraph-core/src/test/resources/ontologies/unsat.owl

[2017-07-10 16:31] cmungall commented on #236
it's possible for unsats to be removed and for Nothing to remain. It's a builtin like Thing.

If you ask the reasoner API for all subclasses of a satisfiable class it should return Nothing to be complete. I think in some circumstance it won't as Nothing won't be an entity that has been declared, but the moment you have unsats suddently Nothing is 'exposed'? I'd have to check. Either way we need to

[2017-07-10 16:36] cmungall commented on #236
[code]

[2017-07-10 17:29] kshefchek commented on #236
Thanks! These are no longer in appearing in the latest load so it may be harder to track down.  It's likely when I was debugging monarch.owl it had already resolved.

[2017-07-12 00:17] jmcmurry opened #240 "Enforce ingest conformance to a stated curie map"
For any given import into SciGraph, validate each URI to ensure there is a corresponding entry in the declared prefix curie map.

[2017-07-12 00:53] tgbugs commented on #240
Currently curies are loaded by services and can be changed by restarting services. We have a number of use cases that make this behavior desirable. However, I have been writing code to extract all URI prefixes in our ontology so that I can make sure the relevant ones have curies. Having this run automatically during graph load would be nice (if it doesn't affect loading performance). Could this be

[2017-07-19 07:27] tgbugs opened #241 "services graph/neighbors fails when curie used for relationshipType"
Using the curied form of the IRI for the relationshipType does not work and an error is returned.
Examples: `UBERON:0000955` with `BFO:0000050` [fails](http://trinity.neuinfo.org:9000/scigraph/graph/neighbors/UBERON:0000955?depth=1&blankNodes=False&relationshipType=BFO%3A0000050&direction=BOTH&project=%2A) the curie for the relationship is present [here](http://trinity.neuinfo.org:9000/scigraph/vo

[2017-07-19 17:49] cmungall commented on #241
This is odd we use these all the time...

[2017-07-19 18:21] kshefchek commented on #241
This works on our latest build, but it would interesting to track down why this is failing.  Is there anything of interest in the logs?

https://scigraph-data-dev.monarchinitiative.org/scigraph/graph/neighbors/UBERON:0000955?depth=1&blankNodes=False&relationshipType=BFO%3A0000050&direction=BOTH&project=*

[2017-07-19 18:39] tgbugs commented on #241
I retested this morning on the latest version, and it is definitely working as expected. Some wires must have gotten crossed somewhere in my test code since I was working with 4 different scigraph instances (I think due to a curie that I have in one place but not in another). Closing as fixed. Sorry for the confusion.

[2017-07-19 18:39] #241 closed

[2017-07-28 22:58] NuriaQueralt opened #242 "dynamic/shortest code: 500"
Hi, i am trying this api call with the parameters values suggested in the documentation of the endpoint:

https://scigraph-data.monarchinitiative.org/scigraph/dynamic/shortest?start_id=HP%3A0011014&end_id=HP%3A0000118&max_depth=4

response:
{
"code":500,
"message":"There was an error processing your request. It has been logged (ID 39783e8f4fc0c835)."
}

I am doing something wrong?
Many thanks in a

[2017-07-31 15:25] kshefchek opened #243 "Expand curies in MATCH statement"
The CypherUtil class currently expands curies to IRIs for edges and for nodes in START clauses.  We should add functionality to expand curies on nodes in MATCH statements - in general but especially now that START is deprecated.

[2017-07-31 15:26] kshefchek commented on #242
This depends on fixing https://github.com/monarch-initiative/monarch-cypher-queries/issues/17 and https://github.com/SciGraph/SciGraph/issues/243

[2017-07-31 17:00] kshefchek commented on #242
@NuriaQueralt thanks for reporting!  This is an issue with the monarch specific configuration using cypher syntax that was deprecated in Neo4J 3

As a work around, you can use the cypher execution service.  The only downside is that you will have to query on full IRIs for nodes.  For example:

    MATCH path = shortestPath((start:Node{iri:'http://purl.obolibrary.org/obo/HP_0100750'})-[:subClassOf|

[2017-08-01 18:43] tgbugs opened #244 "vocabulary/term and vocabulary/search drop curie field"
If a curie cannot be found for a term the record that is returned does not include the 'curie' field, causing errors in code that expects fields defined in the response to always be present. The expected result is for the curie field to be present at all times and its value to be null if no curie can be calculated.

For reference the return type from swagger.json.
[code]

[2017-08-01 21:21] NuriaQueralt commented on #242
@kshefchek Thanks for your prompt reply! your alternative suggestion has worked perfectly! i have retrieved the full IRIs (the only 'tricky' thing let's say..) using the /cypher/execute endpoint and the
`query=START n=node:node_auto_index(iri='CHEBI:506227') match (n) return n` because the /cypher/curies endpoint that seemed to me the way to go, did not work though..

[2017-08-02 16:32] Zigur opened #245 "Install SciGraph-core as a dependency"
Hello, I would like to use SciGraph to load ontologies  (in OWL format) on a Neo4J database. Now if I want to use it programmatically in a Java project built with Gradle (or Maven), how can I import the dependency? It doesn't seem to live on MVN central. Should I build it locally and install it manually? I haven't been using Java in while, so I am a bit rusty, honestly.

[2017-08-02 17:21] tgbugs commented on #245
The is some info in the readme on building, I have some documentation of the config files [here](https://github.com/SciCrunch/NIF-Ontology/blob/master/scigraph/make_yamls.sh) as well.
I also have a slightly more detailed setup in the readme [here](https://github.com/SciCrunch/SciGraph/blob/example/README.md).
From the README:

Build the graph:

cd SciGraph-core
mvn exec:java -Dexec.mainClass="io.s

[2017-08-03 00:39] kshefchek commented on #245
Also see https://github.com/SciGraph/SciGraph/issues/192

[2017-08-03 17:05] kshefchek commented on #229
Duplicate here: https://github.com/SciGraph/SciGraph/issues/242 - this was first but closing since the other has more information.

[2017-08-03 17:05] #229 closed

[2017-08-03 17:13] kshefchek commented on #245
@Zigur we are stalled on adding scigraph to maven central since another organization has claimed scigraph.org and scigraph.io.  I'll mark this as a duplicate to #192.  Unfortunately for the time being you will have to build locally to use SciGraph as a dependency.

[2017-08-03 17:13] #245 closed

[2017-08-04 14:20] Zigur commented on #245
@kshefchek Thanks for the clarification!

[2017-09-08 00:27] cmungall commented on #176
Let me expand on this a bit more.

The motivation here is that it's often convenient to query across chains of relationships

`(n1)-[r1]->(n2)-[r2]-....etc`

however, we sometimes put useful pieces of information on the associations. This may be metadata like evidence, or it might be actual biological information about the relationship (e.g. frequency, severity).

In RDF we reify; in Monarch we us

[2017-09-08 00:28] cmungall commented on #176
Another approach is granular instance modeling as in GO-CAM. Here we could associate information at the instance level. The cost here is additional joins to go from instances to types.

[2017-09-08 00:51] cmungall commented on #176
![image](https://user-images.githubusercontent.com/50745/30191343-1ed2c4c8-93f5-11e7-89a4-9e3e1d62617f.png)

[2017-10-16 22:44] selewis opened #246 "Returning non-JSON for a request"
This URL returns "Failed to find class with ID: WB:WBGene00020993", which the JSON parser then barfs on:
https://scigraph-data-dev.monarchinitiative.org/scigraph/graph/neighbors/WB:WBGene00020993.json?blankNodes=False&relationshipType=RO%3A0002205&entail=True&direction=OUTGOING&depth=1

The correct URL (below) returns JSON just fine. But whatever the insult this method should always return somethi

[2017-10-18 20:17] cmungall commented on #246
Yes, if response is 200, should return valid json. But there is an argument for returning 404 here.

@kltm @kshefchek @DoctorBud @tgbugs what is most consistent across our APIs - 404 or empty json?

[2017-10-18 20:20] kltm commented on #246
I think it is best when possible/easy to return JSON when JSON is requested; separate from that is a 404, which should be returned when warranted--these should be considered separately.

[2017-10-19 09:14] tgbugs commented on #246
For vocabulary services this already happens, see for example: http://neo.crbs.ucsd.edu:9000/scigraph/vocabulary/id/BIRNLEX:796 (json). This is inconsistent with http://neo.crbs.ucsd.edu:9000/scigraph/graph/BIRNLEX:796 (text). The 404 status should always be returned. Inconsistency with behavior between 1.5 and 2.0 (returning nothing for a 404, vs returning json) caused a bug in one of our consumi

[2017-10-19 21:54] cmungall opened #247 "Enhance clique merging to avoid unintensional collapses"
Example of problem: https://github.com/monarch-initiative/dipper/issues/540

More generally: equivalence is symmetric and transitive. When we have long chains of equiv axioms, all connected nodes are entailed to be mutually equivalent. this is logically correct, but often results in unintentional collapses, as seen in the above.

kboom solves this in a probabilistic way, assigning priors to each l

[2017-10-23 21:21] cmungall opened #248 "Add ability to query via dbxref"
For this query:

https://scigraph-ontology.monarchinitiative.org/scigraph/graph/neighbors/DOID%3A332?depth=0

Under http://www.geneontology.org/formats/oboInOwl#hasDbXref we have e.g. "SCTID:86044005"

however, this is modeled in OWL as a literal annotation, and consequently in the neo4j model this is a property of the node rather than a node in itself.

Not sure how best to approach this:

 - abi

[2017-12-02 00:27] cmungall commented on #239
input: list of IDs
params: path
output: map between ID pairs, plus list of unresolved

[2017-12-02 01:29] cmungall opened #249 "Add idmap route"
input: list of ids (or symbols)
params:
 - prefixes[list]: ordered list of preferred prefixes
 - test_labels[bool]: if true assume input can include labels (e.g. gene symbols or names)
 - taxon
output:
 - map of input-mappedId pairs
 - list of unresolved
 - list of ambiguous

by default this will look only in equivalence cliques

server-side configuration:

optionally configure to be able to follo

[2017-12-15 04:58] Kabenla opened #250 "Error when running build process"
I am running build process (mvn -DskipTests -DskipITs install
) within a docker container (ubuntu:16.04) and I get the following error

![1 kabenla kerfuffs diontomanager ssh 2017-12-14 22-56-30](https://user-images.githubusercontent.com/5950671/34027423-3acb7e3e-e122-11e7-9cf6-6e2b2e7a7cd4.png)

[2017-12-15 06:07] Kabenla commented on #250
Hi everyone...it turns out that I did not have an ontology available to load.  Closing this issue

[2017-12-15 06:07] #250 closed

[2017-12-20 02:57] kshefchek opened #251 "Consider making isDefinedBy a node property"
Currently all nodes are connected to their ontologies via a isDefinedBy.  This is useful for quick provenance to the ontology node, which might also include metadata such as versionInfo.  However, it may make more sense to make this a node property, or have this as an option.  This would result in a large decrease in edges (for example, the monarch scigraph has 5472899 isDefinedBy edges).  This al

[2017-12-22 19:14] cmungall opened #252 "clique merging produces multiple duplicate edges (aka "anaphase pattern")"
Example on http://neo4j.monarchinitiative.org/

[code]

![image](https://user-images.githubusercontent.com/50745/34309634-db532b32-e707-11e7-81f6-1ff785b912f2.png)

Also when doing a simple subClassOf query in scigraph API:

https://scigraph-data.monarchinitiative.org/scigraph/graph/neighbors/MONDO%3A0010035?depth=1&blankNodes=false&relationshipType=subClassOf&direction=OUTGOING&entail=false

![im

[2017-12-22 19:15] cmungall commented on #252
one consequence of the anaphase cross-product is the graph traversals we use in monarch to walk the ontology graph will be untenable

[2018-01-13 01:48] kshefchek commented on #224
While I see the benefit of having this done as a SciGraph post processor, I think it's easy enough to do this in cypher, for example:

    MATCH path=(subject:gene)<-[:foo*0..1]-(feature)-[:bar|baz*2..]->(object:Phenotype)
    WITH extract(edge IN relationships(path)| id(edge)) as relations, subject, object, path
    MERGE (subject)-[edge:`http://purl.obolibrary.org/obo/RO_0002200`]->(object)

[2018-01-13 01:55] cmungall commented on #224
how did you make that video?

so it's not exactly a super-intuitive chunk of code, hence the idea to do it ahead of time, rather than having the person writing the cypher memorize or paste in the text each time.. unless I misunderstand?

[2018-01-13 02:02] kshefchek commented on #224
I used a program called peek - https://github.com/phw/peek

My idea is that we write/maintain the cypher queries that create these inferred edges, and run them after the scigraph load and before indexing into solr.  Then we could simplify the solr queries and association graph munging since the edge ids will already be stored as edge properties for these inferred edges.

It's not super intuitive,

[2018-01-13 02:13] cmungall commented on #224
ah ok, I guess I'd call that post-processing, I think we're on the same page

[2018-01-13 02:20] kshefchek commented on #224
Yes, I think even adding functionality to configure a post processing step that executes cypher from a file (or directory) could be useful.

[2018-01-26 18:46] matentzn opened #255 "Expand Documentation on how to access database through Neo4J community edition"
Would it be possible to get a few more hints on how to simply load (or import) the generated SciGraph with neo4j-community edition?

I was able to follow https://github.com/SciGraph/SciGraph/wiki/Using-SciGraph-with-neo4j-shell
(I could access scigraph with neo4j-shell as instructed there), but I just can't seem to manage to simply point my neo4j community instance at the generated graph directory

[2018-01-26 18:55] kshefchek commented on #255
Apologies for the lack of documentation.  If I recall correctly you need to move the scigraph/neo4j files under graph.db, for example:

    mv /path/to/scigraph/graph/* /path/to/neo4j/databases/graph.db/

[2018-01-26 19:23] matentzn commented on #255
Thanks for the answer! I did it exactly like you say, but the graph still shows as empty when I fire it up.. No errors in log file!

cp -r /ws/SciGraph/SciGraph-core/target/pizzaGraph/* /neo4j/data/databases/graph.db

[2018-01-26 19:54] matentzn commented on #255
All good, versioning issue :) You were right, thanks for the help!

[2018-01-26 20:19] kshefchek commented on #255
No problem!  I'll leave this open as reminder to update the docs.

[2018-02-03 18:42] kshefchek opened #256 "Store curies directly in neo4j, use rdf propertly labels as edge types"
Right now SciGraph stores IRI's in Neo4J, and allows for a configuration of a curie map to be used in the service layer to convert between the two.  However, querying whole iri's can be tedious and doesn't buy much over just storing curies in the database.  It would be useful to have a configuration on whether to store whole iris or curies in the database.  Although, this may make the service laye

[2018-02-03 22:55] tgbugs commented on #256
This will be a very useful addition. I have encountered a number of issues querying relationships that are related to this. That said there are cases where we change our curies independent of a graph load (e.g. one of our current release formats for NIFSTD is as a zipped scigraph database folder and we don't know how others set their local curies). It would be nice to have an option to have the IR

[2018-02-06 01:34] kshefchek commented on #251
There are a few more relations I think might be better off as node properties:
http://www.geneontology.org/formats/oboInOwl#inSubset
http://www.geneontology.org/formats/oboInOwl#hasDbXref
http://purl.obolibrary.org/obo/IAO_0000412

It may make sense to make this configurable over default or hardcoded behavior.